<!-- CONTENT
        ================================================== -->
<div class="content-wrapper banner">
    <div class="container">
        <div class="tabs">
            <div class="tab">
                <a class="tab-left active" href="javascript:;" data-toggle=".custumer-res"><span>Customers</span></a>
                <a class="tab-right" href="javascript:;" data-toggle=".member-res"><span>Members</span></a>
            </div>
        </div>

        <div class="switch">
            <div class="items">
                <div class="item">

                    <!-- banner-unit
                            ================================================== -->
                    <div class="hidden-phone">
                        <div class="banner-unit crowdsouced-banner">
                            <img src="/assets/banner/<%= ['crowdsourced','connect-with-cloud'].sample %>.jpg" alt=""/>
                            <div class="buttons">
                                <a class="get-started" href="/contact"><span><span>GET STARTED</span></span></a>
                                <a class="learn-more" href="/how-it-works">Or Learn More</a>
                            </div>
                        </div>
                    </div>


                    <div class="row-fluid res">
                        <div class="span6">
                            <div class="title"><h1>WHAT WE DO</h1></div>
                            <ul>
                                <li><a href="/what-we-do"><span><i class="icon-app"></i></span>Application<br/>Developemnt</a></li>
                                <li><a href="/what-we-do"><span><i class="icon-mobile"></i></span>Mobile<br/>Developemnt</a></li>
                                <li><a href="/what-we-do"><span><i class="icon-analytics"></i></span>Analytics</a></li>
                            </ul>
                        </div>

                        <div class="span6">
                            <div class="title"><h1>HOW IT WORKS</h1></div>
                            <ul>
                                <li><a href="/how-it-works"><span><i class="icon-outsourced"></i></span>Outsourced<br/>Developemnt</a></li>
                                <li><a href="/how-it-works"><span><i class="icon-cloud"></i></span>Cloud<br/>Technologies</a></li>
                                <li><a href="/how-it-works"><span><i class="icon-team"></i></span>Team<br/>Augmentation</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="title"><h1>RECENTLY SHARED</h1></div>
                    <div class="quotes slider res">
                        <div class="scrollable">
                            <div class="items">
                               <div class="item"><div class="quote">The winner tackled the issue of your Big Data processing being interrupted while running on an EC2 Spot Instance. His submission is a checkpointing library written in Java that lets you save away your Hadoop results in Amazon Dynamo DB before your Spot instances go south, rehydrating them later from where you left off. It’s a great way to save time and money when processing Big Data on EC2 Spot Instances. -- Jeff Barr, Amazon Web Services</div></div>                                
                                <div class="item"><div class="quote">We wanted to use Salesforce Chatter for collaboration but needed to implement compliance controls to ensure it met our business requirements. Fortunately, we were able to tap into the CloudSpokes community to come up with a solution to the problem, and in a short period of time they delivered a very flexible Chatter compliance app, at a fraction of the cost it would have taken to build otherwise. -- Kyle Irestone, Medtronic</div></div>
                                <div class="item"><div class="quote">CloudSpokes lets us scale our cloud development resources on-demand to promptly add new features. The CloudSpokes competition model allows us to combine the best features from multiple submissions to produce solutions that often exceed our original goals. CloudSpokes provides access to multiple idea-generators who analyze our business need from a variety of angles and help create a more valuable end product. --  Christina Guerland, Glocap</div></div>
                            </div>
                        </div>
                        <a href="#" class="prev"><span>Prev</span></a>
                        <a href="#" class="next"><span>Next</span></a>
                    </div>
                </div>
                <div class="item">
                    <!-- banner-unit
                            ================================================== -->
                    <div class="hidden-phone">
                        <div class="banner-unit compete-code-win-banner">
                            <img src="/assets/banner/<%= ['build-it-a','build-it-b','compete-code-win'].sample %>.jpg" alt=""/>
                            <div class="buttons">
                                <a class="get-started" href="#register-modal" data-toggle="modal"><span><span>GET STARTED</span></span></a>
                                <a class="learn-more" href="/how-it-works-members">Or Learn More</a>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid res">
                        <div class="span6">
                            <div class="title"><h1>WHAT WE DO</h1></div>
                            <ul>
                                <li><a href="/what-we-do"><span><i class="icon-dev"></i></span>Development<br/>Competitions</a></li>
                                <li><a href="/what-we-do"><span><i class="icon-resolve"></i></span>Solve<br/>Problems</a></li>
                                <li><a href="/what-we-do"><span><i class="icon-design"></i></span>Design<br/>Competitions</a></li>
                            </ul>
                        </div>

                        <div class="span6">
                            <div class="title"><h1>HOW IT WORKS</h1></div>
                            <ul>
                                <li><a href="/how-it-works-members"><span><i class="icon-challenge"></i></span>Challenges<br/>Posted</a></li>
                                <li><a href="/how-it-works-members"><span><i class="icon-submission"></i></span>Submission<br/>Feedback</a></li>
                                <li><a href="/how-it-works-members"><span><i class="icon-win"></i></span>Win Money &<br/>Recognition</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="title"><h1>RECENTLY SHARED</h1></div>
                    <div class="quotes slider res">
                        <div class="scrollable">
                            <div class="items">
                                <div class="item"><div class="quote">I am a big fan of programming challenges, especially those that allow me to learn something new. When CloudSpokes came along a few months back, I did not know what to expect. Little did I know that as of today, I am completely infested with the "CloudSpokes" bug and make it a daily ritual to check out the site, blog, any new contests, any submission updates and much more. -- <a href="/members/romin">Romin</a></div></div>
                                <div class="item"><div class="quote">I have learned more in this last year than I have in the last several combined!  I’ve had some really good competition, put together some awesome apps, and been blown away by some of the things I’ve seen other competitors put together. -- <a href="/members/kenji776">Kenji776</a></div></div>
                                <div class="item"><div class="quote">It was purely by chance that I stumbled across CloudSpokes and the site’s headline struck a cord – “Participate in challenges, build a diverse portfolio, learn something new, and earn a little cash money on the side too.“ Not only would it give me a chance to brush up my coding skills, it would also provide an opportunity to pit myself against some of the best developers from all over the world. -- <a href="/members/talesforce">Talesforce</a></div></div>
                            </div>
                        </div>
                        <a href="#" class="prev"><span>Prev</span></a>
                        <a href="#" class="next"><span>Next</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="title"><h1>HAPPENING NOW</h1></div> 
        <div class="row-fluid" id="status">
            <div><div><div><span class="icon-active-members"></span><strong><%= number_with_delimiter(@platform_stats['members'], :delimiter => ',') %></strong>ACTIVE MEMBERS</div></div></div>
            <div><div><div><span class="icon-competing-today"></span><strong><%= @platform_stats['competing_today'].to_i %></strong>COMPETING TODAY</div></div></div>
            <div><div><div><span class="icon-available-prize-money"></span><strong><%= number_to_currency(@platform_stats['money_up_for_grabs'], :precision => 0) %></strong>AVAILABLE PRIZE MONEY</div></div></div>
            <div><div><div><span class="active-challenges"></span><strong><%= @platform_stats['challenges_open'] %></strong>ACTIVE CHALLENGES</div></div></div>
            <div><div><div><span class="counteries-working"></span><strong><%= @platform_stats['countries_working'] %></strong>COUNTRIES WORKING</div></div></div>
        </div>

        <br/>

        <div class="row-fluid">
            <div class="span6">
                <div class="title"><h1 class="rss">NEWS</h1></div>
                <%= render :partial => "shared/feed_items", :locals => { :items => @news_feed_items } %>
            </div>

            <div class="span6">
                <div class="title"><h1 class="rss">POSTS</h1></div>
                <%= render :partial => "shared/feed_items", :locals => { :items => @post_feed_items } %>
            </div>
        </div>
        <br/>

        <div class="title"><h1>MEET OUR CLIENTS</h1></div>
        <div id="cleints" class="slider">
            <div class="scrollable">
                <div class="items">
                    <div class="item client-google"></div>
                    <div class="item client-medtronic"></div>
                    <div class="item client-salesforce"></div>
                    <div class="item client-box"></div>
                    <div class="item client-aau"></div>
                    <div class="item client-docusign"></div>
                    <div class="item client-jdrf"></div>
                </div>
            </div>
            <a href="#" class="prev"><span>Prev</span></a>
            <a href="#" class="next"><span>Next</span></a>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->