<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="banner">
      <div class="container">
        <div class="banner-unit">

          <!-- Main banner carousels -->
          <div id="main-carousel" class="carousel slide">
            <ol class="carousel-indicators">
              <%- banner_data.size.times do |index| %>
                <li data-target="#main-carousel" data-slide-to="<%= index %>" class="<%= index == 0 ? "active" : " "%>"></li>
              <% end -%>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <%- banner_data.each_with_index do |banner, index| %>
                <div class="item <%= index == 0 ? "active" : ""%>">
                  <div class="main-text"><%= banner["main"].html_safe %></div class="main">
                  <div class="sub-text"><%= banner["sub"].html_safe %></div class="sub">
                </div>
              <% end -%>
            </div>
          </div>

          <div class="buttons">
            <p><strong><%= number_with_delimiter(@platform_stats['members'], :delimiter => ',') %></strong> of the world's best minds competing</p>
            <a class="get-started" href="/challenges"><span><span>View Challenges</span></span></a>
            <a class="learn-more" href="/how-it-works">Or Learn More</a>
          </div>
        </div>

        <div class="tabs">
          <div class="tab">
            <a class="tab-left active" href="javascript:;" data-toggle=".custumer-res"><span>Customers</span></a>
            <a class="tab-right" href="javascript:;" data-toggle=".member-res"><span>Members</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="switch">
            <div class="items">
                <div class="item">
                    <div class="row-fluid res">
                      <div class="title"><h1>WHAT WE DO</h1></div>
                      <ul>
                        <li class="span4"><i class="icon-app"></i>Application Development</li>
                        <li class="span4"><i class="icon-mobile"></i>Mobile Development</li>
                        <li class="span4"><i class="icon-analytics"></i>Analytics</li>
                      </ul>
                      <div class="clear"></div>
                      <p class="clear">The flexibility of cloud platforms has created a unique situation where, for the first time, dramatic innovation can occur with both the underlying technology model and how results are delivered to businesses. With more than <%= number_with_delimiter(@platform_stats['members'], :delimiter => ',') %> experts from 100+ countries, the world can be your development partner. <a href="/what-we-do">Learn More</a></p>
                    </div>
                </div>
                <div class="item">
                    <div class="row-fluid res">
                      <div class="title"><h1>WHAT WE DO</h1></div>
                      <ul>
                        <li class="span4"><i class="icon-dev"></i>Development Competitions</li>
                        <li class="span4"><i class="icon-resolve"></i>Solve Problems</li>
                        <li class="span4"><i class="icon-design"></i>Design Competitions</li>
                      </ul>
                      <p class="clear">Do you love technology? Do you like winning? Welcome to an open market for your unique talents. Join now to develop new skills with real world assignments, learn from the work of others, and establish your street cred as skilled practitioner in the art and science of cloud development. <a href="/what-we-do">Learn More</a></p>
                    </div>

                </div>
            </div>
          <div class="clear"></div>
        </div>
        <%= render partial: "shared/happening_now" %> 
        <br/>

      <div class="title"><h1>RECENTLY SHARED</h1></div>
      <div class="quotes slider res">
        <div class="scrollable">
          <div class="items">
            <div class="item"><div class="quote">The winner of the eSignature REST API challenge did a great integration with extensibility and using multiple API's…and after our success with the Bug Bash challenge, we'd like to put CloudSpokes in our standard release process for our API.<br />-- <strong>Mike Borozdin, Director, Integration Development at <a href="http://www.docusign.com">DocuSign</a></strong></div></div>

            <div class="item"><div class="quote">CloudSpokes’ adoption of secure coding practice shows commitment to its customers and makes a clear statement that the community takes security seriously.<br />-- <strong>David Hyman, VP of SaaS Operations at <a href="http://www.cloudspokes.com/how-it-works/thurgood">Checkmarx</a></strong></div></div>

            <div class="item"><div class="quote">Saugatuck analyzed these development challenges for their success rates and costs and determined that not only was crowdsourcing far more cost- effective, it produced higher-quality results and 62 percent fewer failures.<br />-- <strong>Mike West, Distinguished Analyst at <a href="http://go.appirio.com/saugatuckcloudspokes">Saugatuck Technology</a></strong></div></div>  

            <div class="item"><div class="quote">Since its launch, CloudSpokes has been on our radar. It’s the first developer community we’ve seen that’s solely focused on public cloud, and being such, also focuses strongly on the Force.com platform. For those of us on the developer team at Salesforce, we’re very excited about CloudSpokes.<br />-- <strong>Nick Tran, Developer Marketing at <a href="http://www.salesforce.com">Salesforce</a></strong></div></div>

            <div class="item"><div class="quote">We're excited to be working with CloudSpokes - we believe that their contest platform and community of developers will be immensely helpful in spurring innovation in the cloud.<br />-- <strong>Alex Willen, Platform Marketing at <a href="http://www.box.com">Box</a></strong></div></div>                                

            <div class="item"><div class="quote">CloudSpokes lets us scale our cloud development resources on-demand to promptly add new features. The CloudSpokes competition model allows us to combine the best features from multiple submissions to produce solutions that often exceed our original goals. CloudSpokes provides access to multiple idea-generators who analyze our business need from a variety of angles and help create a more valuable end product.<br />-- <strong>Christina Guerland, VP at <a href="http://www.glocap.com">Glocap</a></strong></div></div>

            <div class="item"><div class="quote">The CloudSpokes community is like an elastic resource that we can stretch and shrink to our requirements.<br />-- <strong>Deb Ashton, VP of Product and Customer Success at <a href="http://www.financialforce.com">FinancialForce</a></strong></div></div>

            <div class="item"><div class="quote">We wanted to use Salesforce Chatter for collaboration but needed to implement compliance controls to ensure it met our business requirements. Fortunately, we were able to tap into the CloudSpokes community to come up with a solution to the problem, and in a short period of time they delivered a very flexible Chatter compliance app, at a fraction of the cost it would have taken to build otherwise.<br />-- <strong>Kyle Irestone, Sales and Marketing Manager at <a href="http://www.medtronic.com">Medtronic</a></strong></div></div>

            <div class="item"><div class="quote">Tapping directly into the best cloud experts and developers in the world accelerates our ability to prototype and deliver creative integration solutions that extend our online collaboration platform while also building awareness of our API. We're proud to be a Spokes partner and look forward to continue leveraging support and energy of the CloudSpokes Platform.<br />-- <strong>Eric Browne, VP of Product Management at <a href="http://www.smartsheet.com">Smartsheet</a></strong></div></div>

            <div class="item"><div class="quote">We're finally at a point with the cloud technologies—with the way they're all designed—where we can have fully integrated systems and still have a single record per customer. Nothing upsets people who support nonprofits more than seeing us waste money on sending them multiple mailings or emails. Having a single record per constituent is critical. CloudSpokes provided a way for JDRF to create the support application quickly and at a lower cost.<br />-- <strong>James Szmak, CIO at <a href="http://www.jdrf.com">JDRF</a></strong></div></div>

            <div class="item"><div class="quote">With developers emerging as the New Kingmakers - the most important constituency in technology - harnessing their collective talent can be an enormous competitive advantage for businesses. For two years, CloudSpokes has been creating a virtuous cycle that allows businesses in need to reward developers for their efforts.<br />-- <strong>Stephen O'Grady, Principal Analyst at <a href="http://www.redmonk.com">Redmonk</a></strong></div></div>
          </div>
        </div>
        <a href="#" class="prev"><span>Prev</span></a>
        <a href="#" class="next"><span>Next</span></a>
      </div>

      <div class="title"><h1>MEET OUR CLIENTS</h1></div>
      <div id="cleints" class="slider">
        <div class="scrollable">
          <div class="items">
            <div class="item client-google"></div>
            <div class="item client-medtronic"></div>
            <div class="item client-salesforce"></div>
            <div class="item client-box"></div>
            <div class="item client-aau"></div>
            <div class="item client-docusign"></div>
            <div class="item client-jdrf"></div>
          </div>
        </div>
        <a href="#" class="prev"><span>Prev</span></a>
        <a href="#" class="next"><span>Next</span></a>
      </div>

      <div class="row-fluid">
            <div class="span6">
                <div class="title"><h1 class="rss">NEWS</h1></div>
                <%= render :partial => "shared/feed_items", :locals => { :items => @news_feed_items } %>
            </div>

            <div class="span6">
                <div class="title"><h1 class="rss">POSTS</h1></div>
                <%= render :partial => "shared/feed_items", :locals => { :items => @post_feed_items } %>
            </div>
        </div>
        <br/>


    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->