<%= render "shared/mailer/template_top", :title => "#{@membername.camelcase} invites you to join CloudSpokes!" %>

<p><img src="<%= @profile_pic %>" width="85" style="padding-right:10px;padding-bottom:5px" align="left">Your friend, <%= @membername %>, is inviting you to join them on CloudSpokes, a unique developer community, focused on using APIs, mobile technologies and public cloud platforms to build and deliver enterprise class solutions!</p>

<p>Why the invite? Because <%= @membername %> thinks you're awesome (and you know you are!) and you would be an important addition to both their community in CloudSpokes and the community as a whole. <b>You can compete in cutting edge development contests and win cash, prizes, badges, bragging rights and more.</b></p>

<p><a href="http://www.cloudspokes.com/signup/<%= @membername %>">Sign up here to connect with <%= @membername %></a> and get started building awesome solutions!</p>

<a href="http://www.cloudspokes.com/signup/<%= @membername %>"><img src="http://join.cloudspokes.com/rs/appirio/images/regnow.png" width="300"></a>
	
<h3>More about CloudSpokes</h3>

<p>The focus for CloudSpokes is solely on using public cloud platforms to build and deliver enterprise-class solutions. The flexibility of cloud platforms has created a unique point where, for the first time, dramatic innovation can occur with both the underlying technology model and how results are delivered to businesses. For developers, designers, and architects - this creates a market for their talents, lets them develop new skills with real world assignments and transition their careers to the cloud, learn from the work of others, and establish their street cred as skilled practitioner in the art and science of cloud development.</p>

<p>Join <%= @membername %> at CloudSpokes and share your achievements!</p>

<%= render "shared/mailer/template_bottom" %>