<%= simple_form_for @challenge, validate: true, html: { :class => 'form-horizontal jqTransform' } do |f| %>
  <%= f.hidden_field :challenge_id, value: @challenge.challenge_id %>
  <%= f.hidden_field :account, value: @challenge.account %>

      <style type="text/css">
        .jqTransformSelectWrapper ul {
          height: auto !important;
        }

        .jqTransformInputInner .select2-container-multi div {
          height: auto;
          margin: 2px 2px 2px 8px;
          color: #222;
        }

        .datepicker {
          width: 500px !important;
          height: 160px !important;
        }

        a.btn {
          padding: 0 8px;
        }
      </style>
      <div class='tabbable'>

        <ul class='nav nav-tabs'>
          <li class="active"><a href="#challenge-info" data-toggle="tab">Main Info</a></li>
          <li><a href="#prizes" data-toggle="tab">Prizes</a></li>
          <% if @challenge.challenge_id %>
            <li><a href="#assets" data-toggle="tab">Assets</a></li>
          <% end %>
          <li><a href="#advanced" data-toggle="tab">Advanced</a></li>
        </ul>

        <div class='tab-content'>
          <div class='tab-pane active' id='challenge-info'>
            <br/><%= render 'challenge_info', {f: f} %>
          </div>
          <div class='tab-pane' id='prizes'>
            <%= render 'prizes' %>
          </div>
          <% if @challenge.challenge_id %>
            <div class='tab-pane' id='assets'>
              <%= render 'assets', {f: f} %>
            </div>
          <% end %> 
          <div class='tab-pane' id='advanced'>
            <br/><%= render 'advanced', {f: f} %>
          </div>         
        </div>

      <hr />
      <%= f.button :submit, value: @challenge.challenge_id ? 'Save Challenge' : 'Create Challenge' %>

    </div>
<% end %>


