<p align="center" style="color:red">Be careful when pasting from a Word or Google doc. You may have better luck using the 'Paste as Plain Text'<br/> or 'Paste from Word' buttons in the editor below and then just making your changes.</p>

<%= f.input :description, label: 'Overview', required: true, :as => :text, input_html: { :class => 'ckeditor' } %>

<% if @can_edit_challenge_requirements %>

    <script>
    function showMadison() {
      window.open("/madison/#/<%= @challenge.challenge_id %>","_blank","toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, width=1000, height=700");
    }
    </script>  

    <center><p>

    <% if @madison_requirements > 0 %>

      You have <%= @madison_requirements %> requirements for this challenge which will display after any text
      you enter in the requirements<br/>rich text editor below. You can edit these requirements while the challenge is in Draft by <a href="#" onclick="showMadison();">clicking here</a>.

    <% else %>

      <a href="#" onclick="showMadison();">Click here</a> to enter your requirements using Madison.  Your requirements will be used to create a scorecard for judging and any functional requirements that you enter will display in the requirements section below for the challenge when it displays.

    <% end %> 

    </p></center>

<% else %>

  <center><p>You cannot modify the requirements after the challenge has been launched. Please contact support@cloudspokes.com.</p></center>
  <%= f.hidden_field :requirements %>

<% end %>

<%= f.input :requirements, :as => :text, input_html: { :class => 'ckeditor', :disabled => !@can_edit_challenge_requirements } %> 