<script type="text/javascript">
function openInSalesforce(id) {
  window.open("<%= ENV['SFDC_INSTANCE_URL'] %>/"+id,"_blank");
}
</script>

<%= csrf_meta_tag %>
<%= content_wrapper do %>

<script type="text/javascript" charset="utf-8" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
<%= stylesheet_link_tag "DT_bootstrap" %>
<%= stylesheet_link_tag "tooltipster" %>
<%= javascript_include_tag "DT_bootstrap" %>
<%= javascript_include_tag "jquery.tooltipster.min" %>

<script type="text/javascript">
window.onload = function() {
  // hide the global search
  <% if @sponsors %>
    // hide the challenge and member search
    $('.form-search').hide();
    // append the form for changing sponsors
    $('#globalSearch').append('<form id="form_account" class="form-horizontal jqTransform pull-right" action="/admin/challenges"><label class="control-label" style="padding-right:10px" for="accounts">Show Challenges for: </label><select name="account" onchange="sponsorChange();"><% @sponsors.each do |s| %><option value="<%= s.id %>" <% if s.id == @administering_account %>selected <% end %>><%= s.name %></option><% end %></select></form>');
  <% end %>
  $("#challenges_filter input").focus();
}
</script>

  <div class="title" style="margin-bottom:5px;margin-top:0px"><h1>CHALLENGE ADMIN</h1></div>

  <div class="span11">

    <table border="0" width="100%">
    <tr>
      <td>    
        <a class="btn btn-primary" type="button" href="#new-challenge-modal" data-toggle="modal"><span>New Challenge</span></a></p>
      <td>
      <td><% if @logo %><span class="pull-right" style="margin-top:-10px"><img src="<%= @logo %>"></span><% end %></td>
    </tr>
    </table>

    <div style="clear: both;"></div><br/>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="challenges">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Status</th>
          <th>Category</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <% @challenges.each do |challenge| %>
        <tr>
          <td class="tooltip" title="Registered Members: <%= challenge.registered_members.to_i %><br/>Submissions: <%= challenge.submissions.to_i %><br/>Days till close: <%= challenge.days_till_close.to_i %><br/>End Date: <%= format_challenge_end_date(DateTime.parse(challenge.end_date).getutc) %><br/>Views: <%= challenge.page_views.to_i %>"><%= link_to challenge.name, edit_admin_challenge_path(challenge.challenge_id) %>
            <a href="<%= challenge_path(challenge.challenge_id) %><% if challenge.status.downcase == 'draft' %>/preview<% end %>" target="_blank" class=''><%= image_tag('open.png') %></a>
            <%= image_tag('lock2.png') if challenge.private_challenge == 'TRUE'  %></td>
          <td><div onclick="openInSalesforce('<%= challenge.id %>')"><%= challenge.challenge_id %></div></td>
          <td><%= challenge.status %></td>
          <td><%= challenge.challenge_type %></td>
          <td><%= challenge.contact %></td>
        </tr>
        <% end %>
      </tbody>
    </table>    

  </div>

    <!-- Modal -->
    <div id="new-challenge-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header"></div>
        <div class="modal-body">
            <div class="title"><h1>New Challenge</h1></div>
            <div class="content">
              <%= form_for 'challenge_admin', :action => admin_challenges_path, :method => "post", html: { :id => 'new_challenge_frm' } do |f| %>
              <p>Enter the display name for your challenge. You can always change this later if you are unsure now. </p>
              <p><%= f.text_field :name, :id => 'challenge_name', :style => 'width: 700px' %><br/><br/></p>                
              <div class="new-challenge-results" style="float:left;padding-left:15px;padding-right:15px;padding-top:15px"></div>
              <% end %>
            </div>
            <div class="control-group pull-right">
                <div class="btn"><input id="new-challenge-submit-btn" type="submit" value="Submit"></div>
                <a class="btn btn-grey" data-dismiss="modal" aria-hidden="true"><span>Cancel</span></a>
            </div>
        </div>
        <div class="modal-footer"></div>
        <button type="button" class="close" data-dismiss="modal"></button>
    </div>

    <!-- Modal -->
    <div id="cmc-new-challenge-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body">
            <div class="title"><h1>New Challenge</h1></div>
            <div class="content">
              <p>Creating a new challenge from your CMC Task. We'll magically reference your task info when creating the challenge and pull in some data such as task name, description, etc.</p>
              <div class="new-challenge-results" style="float:left;padding-top:15px"></div>
            </div>
        </div>
    </div>     

<% end %>

<% if params[:task] %>
  <!-- if a cmc task was passed, show the modal immediately -->
  <script type="text/javascript">
    $(window).load(function(){
      $('#cmc-new-challenge-modal').modal('show');
      createCmcChallenge('<%= params[:task] %>');
    });
  </script>
<% end %>