<%= content_wrapper do %>

  <div class="title"><h1>CHALENGE ADMIN</h1></div>

  <div class="span10">

	  <a class="btn btn-primary" type="button" href="<%= new_admin_challenge_path %>"><span>New Challenge</span></a>
	  <br/><br/>
	 
	  <table class="table table-hover table-bordered">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Status</th>
	        <th>Category</th>
	        <th>Registered</th>
	        <th>Submissions</th>
	      </tr>
	    </thead>
	    <tbody>
	    	<% @challenges.each do |challenge| %>
	      <tr>
	        <td><%= link_to challenge.name, edit_admin_challenge_path(challenge.challenge_id) %></td>
	        <td><%= challenge.status %></td>
	        <td><%= challenge.challenge_type %></td>
	        <td><%= challenge.registered_members.to_i %></td>
	        <td><%= challenge.submissions.to_i %></td>
	      </tr>
	      <% end %>        
	    </tbody>
	  </table>

	</div>

<% end %>