<script>
function openInSalesforce(id) {
  window.open("<%= ENV['SFDC_INSTANCE_URL'] %>/"+id,"_blank");
}
</script>

<%= csrf_meta_tag %>
<%= content_wrapper do %>

  <div class="title"><h1>CHALLENGE ADMIN</h1></div>

  <div class="span10">

    <a class="btn btn-primary" style="float:left;" type="button" href="#new-challenge-modal" data-toggle="modal"><span>New Challenge</span></a>
    <% if @logo %>
  	  <span style="float:right; margin-top:-10px"><img src="<%= @logo %>"></span>
    <% end %>

    <div style="clear: both;"></div><br/>
   
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>ID</th>
          <th>Status</th>
          <th>Category</th>
          <th>Contact</th>
          <th>Registered</th>
          <th>Submissions</th>
        </tr>
      </thead>
      <tbody>
        <% @challenges.each do |challenge| %>
        <tr>
          <td><%= link_to challenge.name, edit_admin_challenge_path(challenge.challenge_id) %> <%= link_to image_tag('open.png'), challenge_path(challenge.challenge_id), :target => '_blank' %></td>
          <td><div onclick="openInSalesforce('<%= challenge.id %>')"><%= challenge.challenge_id %></div></td>
          <td><%= challenge.status %></td>
          <td><%= challenge.challenge_type %></td>
          <td><%= challenge.contact %></td>
          <td><%= challenge.registered_members.to_i %></td>
          <td><%= challenge.submissions.to_i %></td>
        </tr>
        <% end %>        
      </tbody>
    </table>

  </div>

    <!-- Modal -->
    <div id="new-challenge-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header"></div>
        <div class="modal-body">
            <div class="title"><h1>New Challenge</h1></div>
            <div class="content">
              <%= form_for 'challenge_admin', :action => admin_challenges_path, :method => "post", html: { :id => 'new_challenge_frm' } do |f| %>
                <% if params[:task] %>
                  <p>It looks like you are trying to create a challenge from a CMC task. We'll magically reference your task info when creating the challenge and pull in some data
                  such as task name, description, etc.</p>
                  <p><%= f.text_field :name, :id => 'challenge_name', :value => "CMC Task #{params['task']}", :size => 70 %><br/><br/></p>      
                <% else %>
                  <p>Enter the display name for your challenge. You can always change this later if you are unsure now. </p>
                  <p><%= f.text_field :name, :id => 'challenge_name', :size => 70 %><br/><br/></p>                
                <% end %>
              <div class="new-challenge-results" style="float:left;padding-left:15px;padding-right:15px;padding-top:15px"></div>
              <% end %>
            </div>
            <div class="control-group pull-right">
                <div class="btn"><input id="new-challenge-submit-btn" type="submit" value="Submit"></div>
                <a class="btn btn-grey" data-dismiss="modal" aria-hidden="true"><span>Cancel</span></a>
            </div>
        </div>
        <div class="modal-footer"></div>
        <button type="button" class="close" data-dismiss="modal"></button>
    </div>      

<% end %>

<% if params[:task] %>
  <!-- if a cmc task was passed, show the modal immediately -->
  <script type="text/javascript">
    $(window).load(function(){
      $('#new-challenge-modal').modal('show');
    });
  </script>
<% end %>