<div class="comment clearfix <%= "reply" if comment.reply? %>" id="<%= comment.id %>">
  <div class="profile-picture">
    <%= cl_image_tag(comment.member.profile_pic, :width => 82, :height => 82, :crop => :fill, :class => 'pull-left photo', :alt => comment.member.name, :cdn_subdomain => true) %>
  </div>
  <div class="main">
    <div class="text"> <%= raw(comment.comment) %> </div>
    <div class="info">
      <span class="name"><%= link_to comment.member.name, member_path(comment.member.name), :target => '_blank' %><% if comment.from_challenge_admin %> (admin)<% end %></span>,
      <span class="time"><%= format_date_time(comment.createddate) %></span>
      <% unless comment.reply? %>
        <%= link_to "reply", challenge_path(challenge, reply_to: comment.id, anchor: "new-comment-form") %>
      <% end %>
    </div>
  </div>
</div>
