<% if signed_in? %>
  <h4> Post a <%= params[:reply_to] ? "Reply" : "Comment" %> </h4>
  <%= form_tag comment_challenge_path(challenge), class: "new-comment", id: "new-comment-form" do %>  
    <%= hidden_field_tag "comment[membername]", current_user.username %>
    <%= hidden_field_tag "comment[reply_to]", params[:reply_to] if params[:reply_to] %>

    <%= text_area_tag "comment[comments]", flash[:unsaved_comments], placeholder: "Press SHIFT-ENTER for a line break. Max 2000 characters." %>
    <%= recaptcha_tags %>
    <%= submit_tag "Save", class: "btn" %>
  <% end %>
<% else %>
  <p> Please <%= link_to "Sign In", login_path %> to post a commnet </p> 
<% end %>