<% if challenge.open? %>

  <h2>DEADLINE</h2>
  <p>
    Ends <%= format_challenge_end_date(challenge.end_date_utc) %><br/>
    <%= format_challenge_due_in(challenge.end_date_utc) %><br/>
    <%= "Winner Announced on #{challenge.winner_announced.to_s(:long)}" %><br/>
    <% if current_user %>
       Times based upon <%= current_user.time_zone %>. <%= link_to 'Change your time zone.', account_details_path %><br/>
    <% else %>
      Times based upon <%= Rails::application.config.time_zone %>. Login to set your time zone.<br/>
    <% end %>
  </p>

<% else %>

  <h2><%= challenge.status.upcase %></h2>
  <p>
    Ended <%= format_challenge_end_date(challenge.end_date_utc) %><br/>
    <%= "Winner Announced on #{challenge.winner_announced.to_s(:long)}" %>
    <% if ['winner selected','no winner selected'].include?(challenge.status.downcase) %>
      <br/><%= link_to 'View the challenge results', results_challenge_path %>
      <br/><%= link_to 'Give us your feedback', survey_challenge_path %> about this challenge.
    <% end %>
  </p>

<% end %>
