<h2>GET STARTED</h2><p>
<% unless challenge.challenge_type.eql?("Info Only - No Registration") %>
  <p>
  <% if current_member_participant.try('submitted?') %>
      <% if user_signed_in? %>
        <%= link_to content_tag(:span, "VIEW YOUR SUBMISSION"), submit_challenge_path(challenge), class: "btn" %>
      <% end %>
  <% elsif challenge.open? %>   
    <div>
    <% if user_signed_in? %>
      <% if !current_member_participant.registered? && !challenge.closed_for_registration? %>
        <%= link_to content_tag(:span, "REGISTER"), register_challenge_path(challenge), class: "btn" %>
        <%= link_to content_tag(:span, "ADD TO WATCH LIST"), watch_challenge_path(challenge), class: "btn" %>
        <br/><br/>
        We may also periodically contact registered members to provide them with challenge specific information, obtain feedback or additional input. You are not obligated to submit an entry however, we highly recommend that you register for this challenge if you have any interested in participating or would simply like to stay informed.

      <% elsif current_member_participant.status.eql?('Watching') && !challenge.closed_for_registration? %>
        <%= link_to content_tag(:span, "REGISTER"), register_challenge_path(challenge), class: "btn" %>
        <br/><br/>
        Being registered for a challenge will allow you to receive all comments posted to the discussion board plus we may periodically contact registered members to provide them with challenge specific information, obtain feedback or additional input. You are not obligated to submit an entry.

      <% elsif current_member_participant.try('registered?') %>
        <%= link_to content_tag(:span, "SUBMIT YOUR ENTRY"), submit_challenge_path(challenge), class: "btn" %>
      <% end %>                    
    <% else %>
        Please login to register and submit for this challenge.
    <% end %>
    </div>
  <% end %>
<% end %>
</p>