<% if @challenge.open? || @current_member_participant.override_submission_upload %>

    <div class="title" style="margin-top:10px;margin-bottom:15px" id="uploadfiles"><h1>UPLOAD FILES</h1></div>
    <p>Upload any deliverables for your challenge submission including zip files containing code, Word or text files containing instructions, movies, images, etc. Max size for each uploaded file is 15MB. Please do not embed any files in Word docs as we cannot access them. </p>

    <p>Upload your code as a separate zip file from the rest of your deliverables to ensure that it is processed correctly. Only include your code in a zip file <a href="#submit-instructions" data-toggle="modal">in this format</a>. Do not include any other documents, graphics, movies, etc. with your code.</p>

    <p>Submitting files is a two step process. First upload your file to Cloud Storage using the form below. After the file is successfully uploaded (the page will refresh), select the type of file, add any relevant comments and then add it to your submission. When adding your code, after you upload it to Cloud Storage, make sure you select <i>Type = 'Code'</i> and its primary <i>Language</i> in order to be accepted for the challenge (unless specified otherwise in the challenge requirements).</p>

    <p>Upload a <a href="#submit-instructions" data-toggle="modal">.zip file of all of your code in this format.</a> Files not in this format will not be processed successfully for your submission and will not be accepted.</p>

    <% if params[:key] %>

        <%= form_for :file_submission, :url => submit_file_challenge_path, html: { :id => 'file_submit_form', :class => 'form-horizontal jqTransform' } do |f| %>
            <%= f.hidden_field :link, :value => params[:key] %>

            <div class="control-group">
                <label class="control-label">File</label>
                <div class="controls">
                    <%= params[:key] %>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Type</label>
                <div class="controls">
                    <%= f.select :type, ['Code','Video','File'] %>
                </div>
            </div>
            <div class="control-group" id="control-group-language">
                <label class="control-label">Language</label>
                <div class="controls">
                    <%= f.select :language, ['Apex / Visualforce','Java','Other'] %>
                </div>
            </div>            
            <div class="control-group">
                <label class="control-label">Comments</label>
                <div class="controls">
                    <%= f.text_area :comments %>
                </div>
            </div>
            <div class="control-group">
                <a class="btn pull-right" onclick="document.getElementById('file_submit_form').submit();"><span>ADD TO SUBMISSION</span></a>
            </div>
        <% end %>  

    
    <% else %>

        <%= direct_upload_form_for @uploader, html: { :id => 'cloud_storage_upload_form', :class => 'form-horizontal jqTransform' } do |f| %>
            <div class="control-group">
                <label class="control-label">File</label>
                <div class="controls">
                    <div class="btn-file">
                        <a href="#" class="btn btn-grey"><span>CHOOSE FILE</span></a>
                        <%= f.file_field :code %>
                        <spam style="padding-left:10px">No file chosen</spam>
                    </div>
                </div>
            </div>                
            <div class="control-group">
                <a class="btn pull-right" onclick="document.getElementById('cloud_storage_upload_form').submit();"><span>UPLOAD TO CLOUD STORAGE</span></a>
            </div>
        <% end %>

    <% end %>



    <div class="title" style="margin-top:10px;margin-bottom:15px"><h1>INCLUDE URLS</h1></div>
    <p>Add any URLs to supporting into such as a You Tube or Jing videos, a GitHub repo or any other URL you would like to include in your submission.</p>

    <%= form_for :url_submission, :url => submit_url_challenge_path, html: { :id => 'url_submit_form', :class => 'form-horizontal jqTransform' } do |f| %>
        <%= f.hidden_field :type, :value => 'URL' %>
        <div class="control-group">
            <label class="control-label">URL</label>
            <div class="controls">
                <%= f.text_field :link, :placeholder => 'http://' %>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Comments</label>
            <div class="controls">
                <%= f.text_area :comments %>
            </div>
        </div>
        <div class="control-group">
            <a class="btn pull-right" onclick="document.getElementById('url_submit_form').submit();"><span>ADD TO SUBMISSION</span></a>
        </div>
    <% end %>

<% end %>