<!-- CONTENT
            ================================================== -->
    <div class="content-wrapper">
        <div class="container">

            <div>
                <div class="title"><h1>CHALLENGES</h1></div>
                <%= form_tag challenges_path, class: "jqTransform challenges-filter", method: :get do %>
                    <div class="filter well well-large">
                        <% filters = (params[:filters] || {}).reverse_merge(state: "open") %>
                        <label>SHOW</label>
                        <%= select_tag "filters[platform]", options_for_select(Platform.names, filters[:platform]), prompt: "All Platforms" %>
                        <%= select_tag "filters[technology]", options_for_select(Technology.names, filters[:technology]), prompt: "All Technologies" %>
                        <%= select_tag "filters[category]", options_for_select(Category.names, filters[:caterogy]), prompt: "All Categories" %>

                        <label>SORT BY</label>
                        <% options = [["Challenge Title", "name"]]%>
                        <%= select_tag "filters[order_by]", options_for_select(options, filters[:order_by]) %>
                    </div>

                    <div class="state">
                        <label class="radio inline">
                            <%= radio_button_tag "filters[state]", "open", filters[:state] == "open" %>
                            <span>Active Challenges</span>
                        </label>
                        <label class="radio inline">
                            <%= radio_button_tag "filters[state]", "closed", filters[:state] == "closed" %>
                            <span>Closed Challenges</span>
                        </label>

                    </div>
                <% end %>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $("form.challenges-filter select, form.challenges-filter input").change(function() {
                            $(this).parents("form").submit();
                        });
                    });
                </script>
            </div>

            <% @challenges.each do |c| %>
            <div class="row-fluid">
                <div class="span6">
                    <div class="challenge well well-large">
                        <h3><a href="15_challenges_detail.html"><%= c.name %></a></h3>
                        Due in <%= pluralize(c.days_till_close, 'day') %><br>
                        13 members participating, <%= c.registered_members %> registered<br/>
                        <strong>$1,600 Salesforce.com</strong><br>
                        Tags: <a href="#">javascript</a> | <a href="#">jQuery Mobile</a> | <a href="#">Android</a>
                        <table class="type task"><tr><td>TASK</td></tr></table>
                    </div>
                </div>

                <div class="span6">
                    <div class="challenge well well-large">
                        <h3><a href="15_challenges_detail.html">Android Qualifier - Sliding Menu</a></h3>
                        Due in 10 days<br>
                        13 members participating, 9 registered<br/>
                        <strong>$1,600 Salesforce.com</strong><br>
                        Tags: <a href="#">javascript</a> | <a href="#">jQuery Mobile</a> | <a href="#">Android</a>
                        <table class="type sweep-stakes"><tr><td>SWEEP<br/>STAKES</td></tr></table>
                    </div>
                </div>
            </div>
            <% end %>

            <%= will_paginate @challenges, class: "pagination pagination-centered", next_label: "<span>Next</span>", previous_label: "<span>Prev</span>" %>

            <a class="rss" href="#">Subscribe to the feed for this set of challenges</a>

        </div> <!-- /.container -->
    </div><!-- /.loginbar-wrapper -->