<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

            <div>
                <div class="title"><h1>OPEN CHALLENGES</h1></div>
                <%= form_tag challenges_path, class: "jqTransform challenges-filter", method: :get do %>
                    <div class="filter well well-large">
                        <% filters = (params[:filters] || {}).reverse_merge(state: "open") %>
                        <label>SHOW</label>
                        <%= select_tag "filters[platform]", options_for_select(Platform.names, filters[:platform]), prompt: "All Platforms" %>
                        <%= select_tag "filters[technology]", options_for_select(Technology.names, filters[:technology]), prompt: "All Technologies" %>
                        <%= select_tag "filters[category]", options_for_select(Category.names, filters[:caterogy]), prompt: "All Categories" %>

                        <label>SORT BY</label>
                        <% options = [["Challenge Title", "name"]]%>
                        <%= select_tag "filters[order_by]", options_for_select(options, filters[:order_by]) %>
                    </div>
                <% end %>
                <script type="text/javascript">
                    $(document).ready(function() {
                        $("form.challenges-filter select, form.challenges-filter input").change(function() {
                            $(this).parents("form").submit();
                        });
                    });
                </script>
            </div><br/>

            <% @challenges.in_groups_of(2) do |row_challenges| %>
            <div class="row-fluid">
                <% for c in row_challenges %>
                <div class="span6">
                    <div class="challenge well well-large">
                        <h3><%= link_to c.name, challenge_path(c)  %></h3>
                        Due in <%= pluralize(c.days_till_close, 'day') %><br>
                        <%= c.participating_members %> members participating, <%= c.registered_members %> registered<br/>
                        <strong><%= number_to_currency c.total_prize_money, precision: 0 %> Salesforce.com</strong><br>
                        Tags: <%= challenge_tag_links(c) %>
                        <table class="type task"><tr><td><%= c.challenge_type.upcase %></td></tr></table>
                    </div>
                </div>
                <% end %> 
            </div>
            <% end %>

        <%= will_paginate @challenges, class: "pagination pagination-centered", next_label: "<span>Next</span>", previous_label: "<span>Prev</span>" %>
        <%= link_to "Subscribe to the feed for this set of challenges", challenges_path(filters: params[:filters], format: "rss"), class: "rss" %>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->
