<% content_for :head do %><title>Challenge Scorecard - CloudSpokes</title><% end %>

<div class="content-wrapper">
  <div class="container">

    <div class="title"><h1>CHALLENGE SCORECARD</h1></div>

    <div class="row-fluid">

      <div class="span8">
        <h1><%= @challenge.name %></h1>

        <p>Here is the weighted criteria that judges will use to score submissions for this challenge.</p>

				<% @scorecard_group.each do |sc| %>
					<h4><%= sc.name %> (<%= sc.group_weight.to_i %>%)</h4>
					<% counter = 1 %>
					<% sc.qwikscore_questions__r.records.each do |question| %>
						<% if question.question_type.eql?('Numeric') %>
							<%= counter %>. <%= question.question_text %> (<%= question.minimum_value %> - <%= question.maximum_value %>)<br/>
							<% counter += 1 %>
						<% end %>
					<% end %>	
				<% end %>        

      </div>

      <div class="span4">
        <br/><br/><br/>
        <!-- include the entire right side -->
        <%= render partial: "right_side", locals: {challenge: @challenge} %>
      </div>
      
    </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->

