<%= form_for @search, as: '', :authenticity_token => false do |f| %>
  <%= f.label :min_total_prize_money %>
  <%= f.number_field :min_total_prize_money %>

  <%= f.label :max_total_prize_money %>
  <%= f.number_field :max_total_prize_money %>

  <%= f.label :min_registered_members %>
  <%= f.number_field :min_registered_members %>

  <%= f.label :max_registered_members %>
  <%= f.number_field :max_registered_members %>

  <%= f.label :categories %>
  <% @category_names.each do |name| %>
    <%= name %>
    <%= f.check_box :categories, {multiple: true}, name, nil %>
  <% end %>

  <%= f.label :communities %>
  <% @community_names.each do |name| %>
    <%= name %>
    <%= f.check_box :communities, {multiple: true}, name, nil %>
  <% end %>

  <br />
  <%= f.submit name: nil %>
<% end %>

<% @challenges.each do |challenge| %>
  <div class="row-fluid">
    <%= render challenge %>
  </div>
<% end %>