<% content_for :head do %><title><%= @challenge.name %> - CloudSpokes</title><% end %>

<div class="content-wrapper">
  <div class="container">

    <div class="title"><h1>CHALLENGE DETAIL</h1></div>

    <div class="row-fluid">

      <div class="span8">
        <h1><%= @challenge.name %></h1>

        <div class="challenge well well-large" style="background-color:#d1d1d1">
          <h2 style="color:#ffffff">OVERVIEW</h2><table class="type <%= @challenge.challenge_type.downcase %>"><tr><td><%= raw(challenge_type_label(@challenge.challenge_type.upcase)) %></td></tr></table>
        </div>
        <p><%= @challenge.description.html_safe %> </p>     

        <% if @challenge.requirements %>
          <h2>REQUIREMENTS</h2>
          <p> <%= @challenge.requirements.html_safe %> </p>

          <% if @madison_requirements %>
            <ol>
            <% @madison_requirements.each do |req| %>
              <li><%= req.description %></li>
            <% end %>
            </ol><br/>
            <% end %>
            
        <% end %>

        <% if @challenge.post_reg_info && @current_member_participant.try('registered?')%>
          <h2 class="discussion">REGISTRANTS PRIVATE DETAILS</h2>
          <p><%= @challenge.post_reg_info.html_safe %> </p>
        <% end %>     
        
        <% if @challenge.submission_details %>
          <h2>SUBMISSION DETAILS</h2>
          <p> <%= @challenge.submission_details.html_safe %> </p>
        <% end %>

        <% if ['Code','Task','Design','Hackathon'].include?(@challenge.challenge_type) %>
          <p>Your submission will be judged by a panel of peers based upon <%= link_to 'this criteria', scorecard_challenge_path(@challenge) %>.  If you 
            would like to request an extension, please read <a href="/forums#/discussion/21/can-challenge-deadlines-be-extended-for-more-time">Can challenge deadlines be extended for more time?</a> on our FAQ. We do not want to grant extensions 
            unless there is a valid reason.</p> 
        <% end %>        

        <% if @challenge.additional_info && !@challenge.additional_info.gsub(/<\/?[^>]*>/, "").empty? %>
          <h2>ADDITIONAL INFO</h2>
          <p> <%= @challenge.additional_info.html_safe %> </p>
        <% end %>      

        <%= render partial: "right_participation", locals: {challenge: @challenge, 
          current_member_participant: @current_member_participant, placement: :body} %>        

        <br/>

        <h2 class="discussion">DISCUSSION</h2>
        <%= render partial: "discussions", locals: {challenge: @challenge, comments: @comments} %>
      </div>

      <div class="span4">
        <br/><br/><br/>
        <!-- include the entire right side -->
        <%= render partial: "right_side", locals: {challenge: @challenge} %>
      </div>
      
    </div>
  </div> <!-- /.container -->
</div>

