<div class="content-wrapper">
  <div class="container">

    <div class="title"><h1>CHALLENGE DETAIL</h1></div>

    <div class="row-fluid">

      <div class="span8">
        <h1><%= @challenge.name %></h1>

        <% if @challenge.description %>
          <h2>OVERVIEW</h2>
          <p> <%= @challenge.description.html_safe %> </p>
        <% end %>

        <% if @challenge.requirements %>
          <h2>REQUIREMENTS</h2>
          <p> <%= @challenge.requirements.html_safe %> </p>
        <% end %>
        
        <% if @challenge.submission_details %>
          <h2>SUBMISSION DETAILS</h2>
          <p> <%= @challenge.submission_details.html_safe %> </p>
        <% end %>

        <% if @challenge.additional_info %>
          <h2>ADDITIONAL INFO</h2>
          <p> <%= @challenge.additional_info.html_safe %> </p>
        <% end %>

        <%= render partial: "right_call_to_action", locals: {challenge: @challenge, 
          current_member_participant: @current_member_participant} %>        

        <br/>

        <h2 class="discussion">DISCUSSION</h2>
        <%= render partial: "discussions", locals: {challenge: @challenge, comments: @comments} %>
      </div>

      <div class="span4">
        <br/><br/><br/>
        <!-- include the entire right side -->
        <%= render partial: "right_side", locals: {challenge: @challenge} %>
      </div>
      
    </div>
  </div> <!-- /.container -->
</div>

