<% content_for :head do %><title>Submissions - CloudSpokes</title><% end %>

<%= content_wrapper do %>

  <div class="title"><h1>ALL SUBMISSION FILES</h1></div>

  <div class="row-fluid">
    <div class="span8">

      <% if @deliverables.empty? %>
        <div align="center"><strong>No files found for this challenge.</strong></div>
      <% else %>

        <% @members.uniq.each do |member| %>

          <h1><%= member %></h1>

          <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Type</th>
              <th>Asset</th>
              <th>Comments</th>
            </tr>
          </thead>
          <tbody>
            <% @deliverables.each do |deliverable| %>
              <% if deliverable.username == member %>
                <tr>
                  <td><%= deliverable.type %></td>
                  <td width="45%"><%= link_to deliverable.url.split('/').last, deliverable.url, :target => '_blank' %></td>
                  <td width="50%"><%= deliverable.comments %></td>
                </tr>
                <% @participant_id = deliverable.challenge_participant %>
              <% end %>
            <% end %>    
            <tr>
              <td>PDF</td>
              <td width="45%"><%= link_to 'CheckMarx Scan Results', "http://cs-thurgood.s3.amazonaws.com/results/#{@challenge.challenge_id}/#{member}/cx-report.pdf", :target => '_blank' %></td>
              <td width="50%">The results file will only be available if the scanning process was successful. Otherwise you will receive an "AccessDenied" message.</td>
            </tr>     
            <tr>
              <td>Log</td>
              <td width="45%"><%= link_to 'Papertrail submission log', papertrail_challenge_path({:participant_id => @participant_id}), :target => '_blank' %></td>
              <td width="50%">Low-level details on the unit test, security scanning and more.</td>
            </tr>              
          </tbody>
          </table>

        <% end %>

      <% end %>

    </div>

    <div class="span4">
        <%= render partial: "right_admin", locals: {challenge: @challenge} %>
        <%= render partial: "right_technologies", locals: {challenge: @challenge} %>
        <%= render partial: "right_timeframe", locals: {challenge: @challenge} %>
        <%= render partial: "right_prizes", locals: {challenge: @challenge} %>
        <%= render partial: "right_category_detail", locals: {challenge: @challenge} %>
        <%= render partial: "right_assets", locals: {challenge: @challenge} %>
    </div>  

  </div>

<% end %>