<% content_for :head do %><title>Submit Your Entry - CloudSpokes</title><% end %>

<%= content_wrapper do %>

    <div class="title"><h1>YOUR SUBMISSION</h1></div>

    <div class="row-fluid">

        <div class="span8">
            <h1><%= @challenge.name %></h1>

            <%= render partial: "submit_deliverables", locals: {challenge: @challenge} %> 

            <%= render partial: "submit_thurgood", locals: {challenge: @challenge} %>  

            <%= render partial: "submit_overview", locals: {challenge: @challenge} %>  

            <%= render partial: "submit_upload", locals: {challenge: @challenge} %>

        </div>

        <div class="span4">
            <%= render partial: "right_side", locals: {challenge: @challenge} %>
        </div>
    </div>

<% end %>

<!-- Modal -->
<div id="submit-instructions" class="modal hide fade" tabindex="-1" role="dialog">
<div class="modal-header"></div>
<div class="modal-body">
  <div class="title" style="margin:0px"><h1>Code Submission Instructions</h1></div>
  <div class="content">
    <p>The code for your submission will go through <%= link_to('Cloudbees', 'http://www.cloudbees.com') %>, <%= link_to('Checkmarx', 'http://www.checkmarx.com/') %>, JSLint, PhantomJS, Checkstyle and many others services based upon the platform and/or type of code you submit. Your submitted ZIP file must be in the format outlined below. In order to be properly scanned and processed successfully, your code submission ZIP file must include a single directory named "src" which contains your source code and unit tests. Simply ZIP up this "src" directory and upload it as your code submission.</p>

    <p>Do not include any documentation, videos, graphics, etc. in your code ZIP file as it may adversely affect the processing of your submission. Upload these types of deliverables separately.</p>

    <p>For example, for a Force.com submission, the "src" directory would contain the manifest file (package.xml) and the directories for the various components in your submission including unit tests.</p>
    <%= image_tag('submission-structure.png', :style => 'padding-left:10px') %>
  </div>
</div>
<div class="modal-footer"></div>
<button type="button" class="close" data-dismiss="modal"></button>
</div>