<h2>Forgot your password?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => user_password_path(resource), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "users/links" %>