<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="row-fluid">

            <div class="span8">
                <div class="title"><h1>OUTSTANDING REVIEWS</h1></div>

                <% @scorecards.each do |s| %>
                <div class="review well well-large">
                    <h3><%= link_to s.challenge_participant__r.challenge__r.name, challenge_path(s.challenge_participant__r.challenge__r.challenge_id), :target => '_blank' %></h3>
                    <div class="row-fluid">
                        <%= image_tag(s.challenge_participant__r.member__r.profile_pic, :width => '75x75', :class => 'pull-left photo') %>
                        Member : <%= link_to s.challenge_participant__r.member__r.name, member_path(s.challenge_participant__r.member__r.name), :target => '_blank' %><br/>
                        Submitted : <%= Time.parse(s.challenge_participant__r.submitted_date).strftime("%b %d, %Y at %H:%M %p") %><br/>
                        Current Score : <%= s.challenge_participant__r.score %>
                    </div>
                    <a class="btn pull-right-bottom" href="<%= participant_scorecard_path(s.challenge_participant) %>"><span>REVIEW</span></a>
                </div>
                <% end %>

            </div>

            <%= render 'shared/account_menu', :selected_item => 'outstanding_reviews' %>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->