<%= javascript_include_tag "scorecard" %>

<script type="text/javascript">
  $(document).ready(function() {
    scorecard_render(process_json(gon.scorecard), "scorecard");
  });
</script>
<style type="text/css">
  .hint { text-align: right; font-size: 88%; }
  .rating td.weight { width: 100px; font-size: 120%; padding: auto 20px; }
  .rating td.desc { width: 54%; text-align: left; }
  .rating td.options { text-align: center; width: 20%; }
</style>    

<!-- CONTENT
    ================================================== -->
<div class="content-wrapper">
<div class="container">

    <div class="title"><h1><%= @participant.member.name.upcase %></h1></div>
    <div class="content">
        <div class="title"><h1>SUBMITTED ASSETS</h1></div>

        <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>Type</th>
          <th>Asset</th>
          <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        <% @submissions.each do |s| %>
        <tr>
          <td><%= s.type %></td>
          <td width="45%"><%= link_to s.url.split('/').last, s.url, :target => '_blank' %></td>
          <td width="50%"><%= s.comments %></td>
        </tr>
        <% end %>  
        <tr>
          <td>PDF</td>
          <td width="45%"><%= link_to 'CheckMarx Scan Results', "http://cs-thurgood.s3.amazonaws.com/results/#{@participant.challenge.challenge_id}/#{@participant.member.name}/cx-report.pdf", :target => '_blank' %></td>
          <td width="50%">The results file will only be available if the scanning process was successful. Otherwise you will receive an "AccessDenied" message.</td>
        </tr>    
        <tr>
          <td>Log</td>
          <td width="45%"><%= link_to 'Papertrail submission log', papertrail_challenge_path(@participant.challenge, {:participant_id => @participant.id}), :target => '_blank' %></td>
          <td width="50%">Low-level details on the unit test, security scanning and more.</td>
        </tr>                         
        </tbody>
        </table>        

        <div class="title"><h1>NEW JUDGING GUIDELINES</h1></div>
        <p>Most criteria are scored on a scale of 1 (25%) to 4 (100%). By default, each criteria should start off with a score of 3(75%), which means that the solution was satisfactory (i.e., production quality) for this criteria. If the solution is outstanding in regards to this criteria, consider giving it a 4 (100%). If the solution is less than production quality for this criteria, consider giving them a 2. If the solution is unacceptable for this criteria, consider giving them a 1.</p>
        <p>Take the unit testing criteria as an example. If the person did an satisfactory job (ie., the code could be deployed to a production environment) of writing unit tests and covering code, you might want to give them a 3 (75%). If they did a great job, then you could give them 4(100%) and if they did a poor job, you could consider giving them a 2(500%). If they did not provide unit tests at all, give them a 1(25%).</p>
        <p>If a criteria isn't applicable (eg., a question pertaining to the quality of a trigger but their solution does not contain a trigger), please give them a score equivalent to 3 (75%) as it will not negatively impact their chance of winning money.</p>
        <p>In addition to downloading and running a participant's code and test cases, inspecting code and viewing any included documentation and videos, please make sure you read all of posts on the challenge discussion board. There may be comments from participants or CloudSpokes team members that may impact the judging process.</p>
        <p>If you need more info, we've put together a 3 minute overview video on scoring challenges.</p>
        <p>Comments! Comments! Comments! Comments are extremely important to the developers that submit code and are one of the key features of CloudSpokes. Please do not leave them blank or enter comments like 'No Comment' or 'Nothing'. Make an effort to enter comments that explain your score or, even better, ways to make their code better.</p>
        <p>Remember, participants are only eligible for money if they score 75%+ for the total scorecard. If we are awarding money for multiple places, then please score accordingly.</p>

        
        <%= form_for 'submission', :url => save_participant_scorecard_path, html: { :id => 'scorecard_form', :class => 'form-horizontal jqTransform' } do |f| %>

            <input type="hidden" name="set_as_scored" id="hidden_scored">
            <!-- #scorecard -->
            <div id="scorecard"></div>

            <p><strong>Before submitting</strong>: Please look at your comments again. This is the only feedback that developers will receive for their hard work. Do your comments clearly explain why you gave certain scores, what they could have done better or why another submission was superior?</p>

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" id="deleteSubmissionCheckbox" name="delete_participant_submission" value="true" onclick="hide_submitbutton();">Check this box and 'Submit Scorecard' to delete if not a valid scorecard.
                    </label>
                </div>
            </div>

            <div class="control-group">
                <div class="controls pull-right">
                    <% if @scorecard['scored'].to_bool %>
                        This scorecard has already been submitted and scored.
                    <% else %>
                        <a class="btn" onClick="doSubmit(true)" id="btnSubmit"><span>SUBMIT SCORECARD</span></a>
                        <a class="btn" onClick="doSubmit(false)" id="btnSave"><span>SAVE FOR LATER</span></a>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->