<% content_for :head do %><title>Leaderboard - CloudSpokes</title><% end %>

<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div>
            <div class="title" style="margin:0px 0px 0px 0px"><h1><%= @community.community.name.upcase %> LEADERBOARD</h1></div>
        </div>

        <div class="row-fluid">

            <div class="span4">
                <div class="title" style="margin:0px 0px 0px 0px"><h1>POINTS</h1></div>
          <% @points_leaderboard.each do |member| %>
          <div class="placement well">
              <%= image_tag(member['profile_pic'], :width => '82x82', :class => 'pull-left photo') %>
              <%= link_to member['username'], member_path(member['username']), :style => 'margin-top:10px' %>
              <% if member['country'] %><%= member['country'] %><br/><% end %>
              <%= member['points'] %> points<br/>
              <span class="place <%= leaderboard_place_decorator(member['position'].to_i) %>"><%= member['position'].to_i.ordinalize %></span>
          </div>
          <% end %>
            </div>

            <div class="span4">
                <div class="title" style="margin:0px 0px 0px 0px"><h1>CHALLENGES RUN</h1></div>
                <p align="center">Coming soon!</p>
            </div>

            <div class="span4">
                <div class="title" style="margin:0px 0px 0px 0px"><h1>REFERRALS</h1></div>
                <% @referral_leaderboard.each do |member| %>
                <div class="placement well">
                    <%= image_tag(member['profile_pic'], :width => '82x82', :class => 'pull-left photo') %>
                    <%= link_to member['name'], member_path(member['name']), :style => 'margin-top:10px' %>
                    # of Referrals: <%= member['total'].to_i %>
                    <span class="place <%= leaderboard_place_decorator(member['rank'].to_i) %>"><%= member['rank'].to_i.ordinalize %></span>
                </div>
                <% end %>
            </div>

        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->