<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CloudSpokes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />

    <%= include_gon %>
    <!-- styles -->
    <link href="/assets/base.css" rel="stylesheet">
    <link href="/assets/responsive.css" rel="stylesheet">
    <link href="/assets/screen.css" rel="stylesheet">

    <!-- script -->
    <%= javascript_include_tag "base" %>
    <script src="/assets/bootstrap-typeahead.js"></script>
    <%= javascript_include_tag "script" %>
    <!-- not sure why this is not being picked up in applcition.js?? -->
    <%= javascript_include_tag "cloudspokes" %>

</head>
<body>

  <!-- LOGINBAR
          ================================================== -->
  <a name="login"></a> 
  <div class="loginbar-wrapper">
      <div class="container">
        <% if current_user.nil? %>
          <div class="login">
              <div>
                  <form action="/users/sign_in" method="post" class="login-form form-horizontal">
                      <input placeholder="Username" type="text" name="user[username]"/>
                      <input placeholder="Password" type="password" name="user[password]"/>
                      <input type="hidden" name="user[remember_me]" value="1"/>
                      <div class="btn"><input type="submit" class="btn" value="LOGIN"></div>
                  </form>
              </div>
              <div class="login-using">
                  <span class="pull-left">LOGIN USING</span>
                  <ul class="unstyled inline">
                      <li><a href="/auth/github" class="circle-orange"><span class="github">github</span></a></li>
                      <li><a href="/auth/facebook" class="circle-orange"><span class="facebook">facebook</span></a></li>
                      <li><a href="/auth/twitter" class="circle-orange"><span class="twitter">twitter</span></a></li>
                      <li><a href="/auth/google" class="circle-orange"><span class="googleplus">google+</span></a></li>
                      <li><a href="/auth/salesforce" class="circle-orange"><span class="salesforce">salesforce</span></a></li>
                  </ul>
              </div>
              <div class="forgot-pwd">
                  <a href="#forgot-password-modal" data-toggle="modal">FORGOT PASSWORD?</a>
              </div>
              <div class="last">
                  <a href="#register-modal" data-toggle="modal" class="btn btn-grey"><span>REGISTER</span></a>
              </div>
          </div>
        <% else %>
          <div class="logined">
              <div class="pull-left">
                  <a class="btn btn-grey" href="#"><span><em><i class="icon-green"></i></em>7 MEMBERS ONLINE</span></a>
                  <a class="btn btn-grey" href="#"><span><em><i class="icon-orange"></i></em>52 MEMBERS WORKING</span></a>
              </div>

              <div class="pull-right">
                  <%= image_tag(current_user.profile_pic, :width => "35x35") %>
                  <a class="btn" href="<%= main_app.member_path(current_user.username) %>"><span>MY PUBLIC PROFILE</span></a>
                  <a class="btn btn-grey btn-logout" href="<%= main_app.destroy_user_session_path %>"><span>LOGOUT</span></a>
                  <% link_to 'Sign out', main_app.destroy_user_session_path, :method => :delete %>
              </div>
          </div>
        <% end %>

      </div> <!-- /.container -->
  </div><!-- /.loginbar-wrapper -->

  <%= content_tag :div, flash[:notice], class: "alert alert-success", style: "margin: 20px 20px 20px 20px;" if flash[:notice] %>
  <%= content_tag :div, flash[:alert], class: "alert alert-error", style: "margin: 20px 20px 20px 20px;" if flash[:alert] %>

  <!-- NAVBAR
      ================================================== -->
  <div class="nav-wrapper">
      <div class="container">

          <%= link_to image_tag("logo.png"), root_path, :class => "logo" %>

          <ul class="nav">
              <li<% if @community_tick %> class="active"<% end %>><%= link_to 'COMMUNITY', main_app.community_path %></li>
              <li<% if @challenges_tick %> class="active"<% end %>><%= link_to 'CHALLENGES', main_app.challenges_path %></li>
              <li<% if @leaderboard_tick %> class="active"<% end %>><%= link_to 'LEADERBOARD', main_app.leaderboard_path %></li>
              <li><%= link_to 'BADGES', '/badges' %></li>
              <li><%= link_to 'BLOG', 'http://blog.cloudspokes.com' %></li>
              <li><%= link_to 'HELP', '/help' %></li>
              <li<% if @forums_tick %> class="active"<% end %>><%= link_to 'FORUMS', '/forums' %></li>
              <li<% if @account_tick %> class="active"<% end %>><%= link_to 'ACCOUNT', main_app.account_path %></li>
          </ul>


          <form class="form-search jqTransform pull-right">
              <input type="text" class="search-query typeahead" placeholder="Search Members or Challenges"/>
              <a href="#" class="btn-search"></a>
          </form>
      </div> <!-- /.container -->
  </div><!-- /.nav-wrapper -->

  <%= yield %>

  <!-- FOOTER
          ================================================== -->
  <div class="footer-wrapper">
      <div class="container">

          <div class="row-fluid">
              <div class="pull-left">
                  <h2>MAIN LINKS</h2>
                  <ul class="links">
                      <li><%= link_to 'Home', main_app.root_path %></li>
                      <li><%= link_to 'What We Do', '/what-we-do' %></li>
                      <li><%= link_to 'How It Works', '/how-it-works' %></li>
                      <li><%= link_to 'About Us', '/about' %></li>
                      <li><%= link_to 'Blog', 'http://blog.cloudspokes.com' %></li>
                      <li><%= link_to 'Privacy & Terms', '/privacy' %></li>
                      <li><%= link_to 'Contact Us', '/contact' %></li>
                  </ul>
              </div>

              <div class="pull-left">
                  <h2>MEMBER LINKS</h2>
                  <ul class="links">
                      <li><%= link_to 'Community', main_app.community_path %></li>
                      <li><%= link_to 'Challenges', main_app.challenges_path %></li>
                      <li><%= link_to 'Leaderboard', main_app.leaderboard_path %></li>
                      <li><%= link_to 'Badges', '/badges' %></li>
                      <li><%= link_to 'FAQ', '/faq' %></li>
                      <li><%= link_to 'Help', '/help' %></li>
                      <li><%= link_to 'Forums', '/forums' %></li>
                  </ul>
              </div>

              <div class="pull-left">
                  <h2>SPOKES</h2>
                  <ul class="links">
                      <li><a href="#">TBD1</a></li>
                      <li><a href="#">TBD2</a></li>
                  </ul>
              </div>

              <div class="pull-right">
                  <ul class="links">
                      <li><a href="https://plus.google.com/u/1/communities/115902133021389200378" class="circle-orange" target="_blank"><span class="googleplus-small">google+</span></a></li>
                      <li><a href="http://www.facebook.com/CloudSpokes" class="circle-orange" target="_blank"><span class="facebook">facebook</span></a></li>
                      <li><a href="https://twitter.com/cloudspokes" class="circle-orange" target="_blank"><span class="twitter">twitter</span></a></li>
                      <li><a href="http://www.linkedin.com/groups/CloudSpokes-3876560" class="circle-orange" target="_blank"><span class="linkedin">linkedin</span></a></li>
                  </ul>
              </div>

              <div class="span3 pull-right">
                  <h2>PLATFORMS</h2>
                  <ul class="links">
                      <li><a href="http://aws.amazon.com" target="_blank">Amazon Web Services</a></li>
                      <li><a href="http://www.cloudfoundry.com" target="_blank">Cloud Foundry</a></li>
                      <li><a href="https://cloud.google.com" target="_blank">Google App Engine</a></li>
                      <li><a href="http://www.heroku.com" target="_blank">Heroku</a></li>
                      <li><a href="http://developer.force.com" target="_blank">Force.com</a></li>
                  </ul>
              </div>

          </div>

      </div> <!-- /.container -->
  </div><!-- /.loginbar-wrapper -->


  <!-- Modal -->
  <div id="forgot-password-modal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header"></div>
  <div class="modal-body">
      <div class="title"><h1>RESET YOUR PASSWORD</h1></div>
      <div class="content">
          <form class="modal-form jqTransform forgot-password-form">
              <p>Enter your CloudSpokes username and we'll send you instructions on how to reset your password.</p>
              <input type="text" placeholder="USERNAME" id="reset-username"/><div class="btn"><button id="forgot-password-btn" class="btn" type="submit">SUBMIT</button></div>
          </form>
      </div>
      <div class="reset-results" style="padding-left:15px;padding-right:15px;padding-top:15px"></div>

      <br/>
  </div>
  <div class="modal-footer"></div>
  <button type="button" class="close" data-dismiss="modal"></button>
  </div>

  <!-- Modal -->
  <div id="register-modal" class="modal hide fade" tabindex="-1" role="dialog">
      <div class="modal-header"></div>
      <div class="modal-body">
          <div class="title"><h1>REGISTER USING AN EXISTING ACCOUNT</h1></div>
          <div class="content">
              <p>Using an existing account is quick and easy. Select the account you would like to use and we'll do the rest for you.</p>
              <ul class="unstyled inline">
                  <li><a href="/auth/github" class="circle-orange"><span class="github">github</span></a></li>
                  <li><a href="/auth/facebook" class="circle-orange"><span class="facebook">facebook</span></a></li>
                  <li><a href="/auth/twitter" class="circle-orange"><span class="twitter">twitter</span></a></li>
                  <li><a href="/auth/google" class="circle-orange"><span class="googleplus">google+</span></a></li>
                  <li><a href="/auth/salesforce" class="circle-orange"><span class="salesforce">salesforce</span></a></li>
              </ul>
          </div>

          <form class="form-horizontal jqTransform jqtransformdone">
              <div class="title"><h1>REGISTER USING YOUR EMAIL</h1></div>
              <p>Create a new account with CloudSpokes:</p>

              <div class="control-group">
                  <label class="control-label" for="input-name">Username</label>
                  <div class="controls" id="input-username-container">
                      <input type="text" id="input-name">
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label" for="input-email">Email</label>
                  <div class="controls" id="input-email-container">
                      <input type="text" id="input-email">
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label" for="input-pwd">Password</label>
                  <div class="controls" id="input-password-container">
                      <input type="password" id="input-pwd">
                  </div>
                  <div class="help-block">8 characters with letters & numbers</div>
              </div>
              <div class="control-group">
                  <label class="control-label" for="input-pwd-again">Password confirmation</label>
                  <div class="controls" id="input-password-again-container">
                      <input type="password" id="input-pwd-again">
                  </div>
              </div>
              <div class="control-group">
                  <div class="controls">
                      <label class="checkbox">
                          <input type="checkbox"> I agree to the <a href="/terms-of-service" target="_blank">terms of service</a>.*
                      </label>
                  </div>
              </div>
              <div class="control-group">
                  <div class="controls">
                      <div class="btn"><input id="sign-up-btn" type="submit" value="SIGN UP"></div>
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer"></div>
      <button type="button" class="close" data-dismiss="modal"></button>
  </div>

  <!-- Modal -->
  <div id="signup-success-modal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header"></div>
  <div class="modal-body">
      <div class="title"><h1>Thanks for Registering!</h1></div>
      <div class="content"></div><br/>
  </div>
  <div class="modal-footer"></div>
  <button type="button" class="close" data-dismiss="modal"></button>
  </div>

  <%= debug(current_user) if Rails.env.development? && !current_user.nil? %>
  <%= debug(params) if Rails.env.development? %>  
</body>
</html>