<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="0b5UAqY-jFcSFdwuJOMT6arbK7RxdSzR-utYf1Pe6_k" />
    <meta name="description" content="CloudSpokes matches companies who need cloud development expertise with a worldwide crowdsourced community of <%= number_with_delimiter(@platform_stats['members'], :delimiter => ',') %> cloud experts.">    
    <% if content_for?(:head) %>
      <%= content_for(:head) %>
    <% else %>
      <title>CloudSpokes - Crowdsourcing Development Community</title>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />

    <%= include_gon %>

    <!-- styles -->
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag params[:controller] %>

    <!-- scripts -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] %> 

    <!-- start Google analytics -->
    <script type="text/javascript">
      // show the tooltip
      $(document).ready(function() {
          try {
            $('.tooltip').tooltipster();
          } catch (e) { }

        $.pnotify.defaults.history = false;
        $.pnotify.defaults.nonblock = true;
        $.pnotify.defaults.icon = true;
        $.pnotify.defaults.delay = 4000;

        <% flash.each do |key, msg| %>
        $.pnotify({ width: "400px", text: "<%= msg %>", type: "<%= key %>" });
        <% end %>      

        <% if params[:show_login] %>
        $('#login-modal').modal('show');
        <% end %>

        <% if params[:show_register] %>
        $('#register-modal').modal('show');
        <% end %>        

      });      

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-776185-13']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- end Google analytics -->    
    <!-- start pingdom -->
    <script>
    var _prum = [['id', '51f8def6abe53d4455000000'],
                 ['mark', 'firstbyte', (new Date()).getTime()]];
    (function() {
        var s = document.getElementsByTagName('script')[0]
          , p = document.createElement('script');
        p.async = 'async';
        p.src = '//rum-static.pingdom.net/prum.min.js';
        s.parentNode.insertBefore(p, s);
    })();
    </script>
    <!-- end pingdom -->

</head>
<body>

  <!-- LOGINBAR
          ================================================== -->
  <a name="login"></a> 
  <div class="loginbar-wrapper">
      <div class="container">
        <% if !current_user.nil? %>
          <div class="logined">
              <div class="pull-left">
                <span class="online-status"><%= @platform_stats['competing_today'].to_i %> Members Working Now</span>
              </div>

              <div class="pull-right">
                  <a href="/members/<%= current_user.username %>"><%= cl_image_tag(profile_pic, :width => 35, :height => 35, :crop => :fill, :alt => current_user.username) %></a>
                  <a class="btn" href="<%= main_app.account_path %>"><span>Account</span></a>
                  <a class="btn" href="<%= main_app.dashboard_path %>"><span>Dashboard</span></a>
              </div>
          </div>
        <% end %>

      </div> <!-- /.container -->
  </div><!-- /.loginbar-wrapper -->

  <!-- NAVBAR
      ================================================== -->
  <div class="navbar-wrapper">
    <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
    <div class="container">

      <div class="navbar navbar-inverse">
        <div class="navbar-inner">

          <%= link_to image_tag("logo.png"), root_path, :class => "logo" %>

          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar. -->
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer Solutions<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Overview', '/overview' %></li>
                  <li><%= link_to 'What We Do', '/what-we-do' %></li>
                  <li><%= link_to 'How It Works', '/how-it-works' %></li>
                  <li><%= link_to 'Highlights', '/what-we-do/highlights' %></li>
                  <li><%= link_to 'Spokes', '/partners' %></li>
                  <li><%= link_to 'Contact Us', '/contact' %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Community<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'How It Works', '/how-it-works-members' %></li>
                  <li><%= link_to 'Challenges', main_app.challenges_path %></li>
                  <li><%= link_to 'Leaderboard', main_app.leaderboard_path %></li>
                  <li><%= link_to 'Forums', '/forums' %></li>
                </ul>
              </li>
              <li><a href="http://blog.cloudspokes.com" target="_blank">Blog</a></li>
              <% if current_user.nil? %>
                  <li><a href="#" data-toggle="modal" data-target="#register-modal">Register</a></li>
                  <li><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
              <% else %>
                  <li><a class="btn-logout" href="<%= main_app.destroy_user_session_path %>">Logout</a></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->

      <!-- hide the challenge/member search on the challenges search page -->
      <% unless params[:controller] == 'challenges' && %w(index search).include?(params[:action]) %>
      <div id="globalSearch">
        <form id="globalSearchForm" class="form-search jqTransform pull-right" action="/search">
          <input type="text" class="search-query" name="keyword" placeholder="Search Members or Challenges"/>
          <a href="#" class="btn-search" onclick="document.getElementById('submission_details').submit();"></a>
        </form>
      </div>
      <% end %>

    </div> <!-- /.container -->
  </div>

  <%= yield %>

  <!-- FOOTER
          ================================================== -->
  <div class="footer-wrapper">
      <div class="container">

          <div class="row-fluid">
              <div class="pull-left">
                  <h2>MAIN LINKS</h2>
                  <ul class="links">
                      <li><%= link_to 'Overview', '/overview' %></li>
                      <li><%= link_to 'What We Do', '/what-we-do' %></li>
                      <li><%= link_to 'How It Works', '/how-it-works' %></li>
                      <li><%= link_to 'About Us', '/about' %></li>
                      <li><%= link_to 'Press', '/press' %></li>   
                      <li><%= link_to 'Privacy & Terms', '/terms-of-service' %></li>                  
                      <li><%= link_to 'Contact Us', '/contact' %></li>
                  </ul>
              </div>

              <div class="pull-left">
                  <h2>MEMBER LINKS</h2>
                  <ul class="links">
                      <li><%= link_to 'Dashboard', main_app.dashboard_path %></li>
                      <li><%= link_to 'Challenges', main_app.challenges_path %></li>
                      <li><%= link_to 'Leaderboard', main_app.leaderboard_path %></li>
                      <li><%= link_to 'Blog', 'http://blog.cloudspokes.com', :target => '_blank' %></li>                         
                      <li><%= link_to 'FAQ', '/faq' %></li>
                      <li><%= link_to 'Help', '/help' %></li>
                      <li><%= link_to 'Status', 'http://status.cloudspokes.com', :target => '_blank' %></li>
                  </ul>
              </div>

              <div class="pull-left">
                  <h2>SPOKES</h2>
                  <ul class="links">
                      <li><a href="http://mesh01.cloudspokes.com" target="_blank">MESH01</a></li>
                      <li><a href="http://smartsheet.cloudspokes.com" target="_blank">Smartsheet</a></li>
                      <li><a href="http://docusign.cloudspokes.com" target="_blank">Docusign</a></li>
                  </ul>
              </div>

              <div class="pull-right">
                  <ul class="links">
                      <li><a href="https://plus.google.com/u/1/communities/115902133021389200378" class="circle-orange" target="_blank"><span class="googleplus-small">google+</span></a></li>
                      <li><a href="http://www.facebook.com/CloudSpokes" class="circle-orange" target="_blank"><span class="facebook">facebook</span></a></li>
                      <li><a href="https://twitter.com/cloudspokes" class="circle-orange" target="_blank"><span class="twitter">twitter</span></a></li>
                      <li><a href="http://www.linkedin.com/groups/CloudSpokes-3876560" class="circle-orange" target="_blank"><span class="linkedin">linkedin</span></a></li>
                  </ul>
              </div>

              <div class="span3 pull-right">
                  <h2>PLATFORMS</h2>
                  <ul class="links">
                      <li><a href="http://aws.amazon.com" target="_blank">Amazon Web Services</a></li>
                      <li><a href="http://www.cloudfoundry.com" target="_blank">Cloud Foundry</a></li>
                      <li><a href="https://cloud.google.com" target="_blank">Google App Engine</a></li>
                      <li><a href="http://www.heroku.com" target="_blank">Heroku</a></li>
                      <li><a href="http://developer.force.com" target="_blank">Force.com</a></li>
                  </ul>
              </div>

          </div>

      </div> <!-- /.container -->
  </div><!-- /.loginbar-wrapper -->


  <!-- Modal -->
  <div id="forgot-password-modal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header"></div>
  <div class="modal-body">
      <div class="title"><h1>RESET YOUR PASSWORD</h1></div>
      <div class="content">
          <form class="modal-form jqTransform forgot-password-form">
              <p>Enter your CloudSpokes username and we'll send you instructions on how to reset your password.</p>
              <input type="text" placeholder="USERNAME" id="reset-username" <% if current_user %>value="<%= current_user.username %>"<% end %>/><div class="btn"><button id="forgot-password-btn" class="btn" type="submit">SUBMIT</button></div>
          </form>
      </div>
      <div class="reset-results" style="padding-left:15px;padding-right:15px;padding-top:15px"></div>

      <br/>
  </div>
  <div class="modal-footer"></div>
  <button type="button" class="close" data-dismiss="modal"></button>
  </div>

  <!-- Modal -->
  <div id="register-modal" class="modal hide fade" tabindex="-1" role="dialog">
      <div class="modal-header"></div>
      <div class="modal-body">
          <div class="title"><h1>REGISTER USING AN EXISTING ACCOUNT</h1></div>
          <div class="content">
              <p>Using an existing account is quick and easy. Select the account you would like to use and we'll do the rest for you.</p>
              <ul class="unstyled inline">
                  <li><a href="/auth/github" class="circle-orange"><span class="github">github</span></a></li>
                  <li><a href="/auth/facebook" class="circle-orange"><span class="facebook">facebook</span></a></li>
                  <li><a href="/auth/twitter" class="circle-orange"><span class="twitter">twitter</span></a></li>
                  <li><a href="/auth/google_oauth2" class="circle-orange"><span class="googleplus">google+</span></a></li>
              </ul>
          </div>

          <form class="form-horizontal jqTransform jqtransformdone">
              <div class="title"><h1>REGISTER USING YOUR EMAIL</h1></div>
              <div class="control-group">
                  <label class="control-label" for="input-name">Username</label>
                  <div class="controls" id="input-username-container">
                      <input type="text" id="input-name">
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label" for="input-email">Email</label>
                  <div class="controls" id="input-email-container">
                      <input type="text" id="input-email">
                  </div>
              </div>
              <div class="control-group">
                  <label class="control-label" for="input-pwd">Password</label>
                  <div class="controls" id="input-password-container">
                      <input type="password" id="input-pwd">
                  </div>
                  <div class="help-block">8 characters with letters & numbers</div>
              </div>
              <div class="control-group">
                  <label class="control-label" for="input-pwd-again">Password confirmation</label>
                  <div class="controls" id="input-password-again-container">
                      <input type="password" id="input-pwd-again">
                  </div>
              </div>
              <div class="control-group">
                  <div class="controls">
                      <label class="checkbox">
                          <input type="checkbox"> I agree to the <a href="/terms-of-service" target="_blank">terms of service</a>.*
                      </label>
                  </div>
              </div>
              <div class="control-group">
                  <div class="controls">
                      <div class="btn"><input id="sign-up-btn" type="submit" value="SIGN UP"></div>
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer"></div>
      <button type="button" class="close" data-dismiss="modal"></button>
  </div>

  <div id="login-modal" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header"></div>
    <div class="modal-body">
      <div class="title"><h1>LOGIN USING AN EXISTING ACCOUNT</h1></div>
      <div class="content">
        <p>Using an existing account is quick and easy. Select the account you would like to use and we'll do the rest for you.</p>
        <ul class="unstyled inline">
          <li><a href="/auth/github" class="circle-orange"><span class="github">github</span></a></li>
          <li><a href="/auth/facebook" class="circle-orange"><span class="facebook">facebook</span></a></li>
          <li><a href="/auth/twitter" class="circle-orange"><span class="twitter">twitter</span></a></li>
          <li><a href="/auth/google_oauth2" class="circle-orange"><span class="googleplus">google+</span></a></li>
        </ul>
      </div>

      <div style="margin-top: 15px"></div>

      <form class="form-horizontal jqTransform jqtransformdone" action="/users/sign_in" method="post">
        <div class="title"><h1>LOGIN WITH A CLOUDSPOKES ACCOUNT</h1></div>
        <div class="info"></div>
        <div class="control-group">
          <label class="control-label" for="input-name">Username</label>
          <div class="controls">
            <input placeholder="Username" type="text" name="user[username]" id="login-username"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="input-pwd">Password</label>
          <div class="controls">
            <input placeholder="Password" type="password" name="user[password]" id="login-password"/>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" name="user[remember_me]" checked="checked" id="login-rememberme">Remember Me</a>
            </label>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <div class="btn" style="margin-right: 10px"><input id="sign-in-btn" type="submit" value="Login"></div>
            <a href="#forgot-password-modal" data-toggle="modal" data-dismiss="modal">FORGOT PASSWORD?</a>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer"></div>
    <button type="button" class="close" data-dismiss="modal"></button>
  </div>

  <!-- Modal -->
  <div id="signup-success-modal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header"></div>
  <div class="modal-body">
      <div class="title"><h1>THANKS FOR REGISTERING!</h1></div>
      <div class="content"></div><br/>
  </div>
  <div class="modal-footer"></div>
  <button type="button" class="close" data-dismiss="modal"></button>
  </div>

  <%= debug(current_user) if Rails.env.development? && !current_user.nil? %>
  <%= debug(params) if Rails.env.development? %>  
</body>
</html>