<% content_for :head do %><title>Dashboard - CloudSpokes</title><% end %>

<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <%= render partial: "shared/happening_now" %> 
        <br/>

        <div class="row-fluid">
            <div class="span6">
                <div class="title"><h1>FEATURED CHALLENGE</h1></div>
                <%= link_to "#{number_to_currency(@featured_challenge.total_prize_money, :precision => 0)} - #{@featured_challenge.name}", challenge_path(@featured_challenge) %>
                <br/>
                <br/>
                <p>
                    <% @featured_challenge.challenge_prizes.each do |prize| %>
                    <%= prize.place %> Place <strong><%= prize.prize %></strong><br/>
                    <% end %>
                </p>
                <p><%= format_challenge_due_in(@featured_challenge.end_date_utc) %> | Ends <%= format_challenge_end_date(@featured_challenge.end_date_utc) %><br/>
                    <%= pluralize(@featured_challenge.participating_members, 'member') %> participating, <%= @featured_challenge.registered_members %> registered
                </p>
                <p>Platforms: <%= platform_display(@featured_challenge) %><br/>
                Tags: <%= technology_tag_links(@featured_challenge) %></p>
            </div>
            <div class="span6">
                <div class="title"><h1>ACTIVE CHALLENGES</h1></div>
                <% @open_challenges[0..2].each do |challenge| %>
                <%= link_to "#{number_to_currency(challenge.total_prize_money, :precision => 0)} - #{challenge.name}", challenge_path(challenge) %>
                <p>
                <% if %(first2finish).include?(challenge.challenge_type.downcase) %>
                    First to finish!
                  <% else %> 
                    <%= format_challenge_due_in(challenge.end_date_utc) %>
                  <% end %>                   
                 | <%= pluralize(challenge.participating_members, 'member') %> participating, <%= challenge.registered_members %> registered<br/>
                <%= platform_and_technology_tag_links(challenge) %></p>
                <% end %>
                <%= link_to "View All Active Challenges", challenges_path %> | <%= link_to "View All Recently Completed Challenges", challenges_recent_path %>
            </div>
        </div>
        <br/>

        <div class="row-fluid">
            <div class="span6">
                <div class="title"><h1>FEATURED MEMBER</h1></div>
                <div class="placement well">
                    <%= image_tag(@platform_stats['featured_member_pic'], :width => '82x82', :class => 'pull-left photo') %>
                    <%= link_to @platform_stats['featured_member_username'], member_path(@platform_stats['featured_member_username']) %>
                    Challenge Wins: <strong><%= @platform_stats['featured_member_wins'].to_i %></strong><br/>
                    Active Challenges: <strong><%= @platform_stats['featured_member_active'].to_i %></strong>
                    <table class="type featured"><tr><td><%= number_to_currency(@platform_stats['featured_member_money'], :precision => 0) %></td></tr></table>
                </div>

                <p>Since joining CloudSpokes in November of last year, Mithun AKA <a href="/members/callmekatootie">callmekatootie</a>a has been a total community superstar. Participating on the forums, competing in challenges and always being available to help out. Aside from that, Callmekatootie has been instrumental in providing consistency and best coding practices to our wear test app. All that adds up to make callmekatootie our August member of the month. Congrats!</p>
            </div>
            <div class="span6">
                <div class="title"><h1>LEADERBOARD</h1></div>
                <% if @leaderboard.first %>
                <div class="placement well">
                    <%= cl_image_tag(@leaderboard.first['profile_pic'], :width => 82, :height => 82, :crop => :fill, 
                        :class => 'pull-left photo', :alt => @leaderboard.first['username']) %>
                    <%= link_to @leaderboard.first['username'], member_path(@leaderboard.first['username']) %>
                    <%= @leaderboard.first['country'] %><br/><%= number_to_currency(@leaderboard.first['total_money'], :precision => 0) %>
                    <span class="place p1">1st</span>
                </div>
                <% end %>

                <div class="row-fluid">
                    <div class="span6">
                        <% if @leaderboard.second %>
                        <div class="placement well">
                            <%= cl_image_tag(@leaderboard.second['profile_pic'], :width => 82, :height => 82, :crop => :fill, 
                                :class => 'pull-left photo', :alt => @leaderboard.second['username']) %>
                            <%= link_to @leaderboard.second['username'], member_path(@leaderboard.second['username']) %>
                            <%= @leaderboard.second['country'] %><br/><%= number_to_currency(@leaderboard.second['total_money'], :precision => 0) %>
                            <span class="place p2">2nd</span>
                        </div>
                        <% end %>
                    </div>
                    <div class="span6">
                        <% if @leaderboard.third %>
                        <div class="placement well">
                            <%= cl_image_tag(@leaderboard.third['profile_pic'], :width => 82, :height => 82, :crop => :fill, 
                                :class => 'pull-left photo', :alt => @leaderboard.third['username']) %>
                            <%= link_to @leaderboard.third['username'], member_path(@leaderboard.second['username']) %>
                            <%= @leaderboard.third['country'] %><br/><%= number_to_currency(@leaderboard.third['total_money'], :precision => 0) %>
                            <span class="place p3">3rd</span>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="row-fluid">
            <div class="span6">
                <div class="title"><h1 class="rss">NEWS</h1></div>
                <%= render :partial => "shared/feed_items", :locals => { :items => @news_feed_items } %>
            </div>

            <div class="span6">
               <div class="title"><h1 class="rss">POSTS</h1></div>
                <%= render :partial => "shared/feed_items", :locals => { :items => @post_feed_items } %>
            </div>
        </div>
        <br/>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->