<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="title"><h1>HAPPENING NOW</h1></div>
        <div class="row-fluid" id="status">
            <div>
                <span class="icon-active-members"></span><strong><%= number_with_delimiter(@stats['members'], :delimiter => ',') %></strong>ACTIVE MEMBERS
            </div>
            <div>
                <span class="icon-competing-today"></span><strong><%= @stats['competing_today'].to_i %></strong>COMPETING TODAY
            </div>
            <div>
                <span class="icon-available-prize-money"></span><strong><%= number_to_currency(@stats['money_up_for_grabs'], :precision => 0) %></strong>AVAILABLE PRIZE MONEY
            </div>
            <div>
                <span class="active-challenges"></span><strong><%= @stats['challenges_open'] %></strong>ACTIVE CHALLENGES
            </div>
            <div>
                <span class="counteries-working"></span><strong><%= @stats['countries_working'] %></strong>COUNTRIES WORKING
            </div>
        </div>
        <br/>

        <div class="row-fluid">
            <div class="span6">
                <div class="title"><h1>FEATURED CHALLENGE</h1></div>
                <%= link_to "#{number_to_currency(@featured_challenge.total_prize_money, :precision => 0)} - #{@featured_challenge.name}", challenge_path(@featured_challenge) %>
                <br/>
                <br/>
                <p>
                    <% @featured_challenge.challenge_prizes.each do |prize| %>
                    <%= prize.place %> Place <strong><%= prize.prize %></strong><br/>
                    <% end %>
                </p>
                <% distance = Time.at(@featured_challenge.end_date - Time.zone.now) %>
                <p><%= "Due in #{distance.day}d #{distance.hour}h #{distance.min}m" %> | Ends <%= @featured_challenge.end_date.strftime("%B %d, %Y at %H:%M %p") %><br/>
                    <%= pluralize(@featured_challenge.participating_members, 'member') %> participating, <%= @featured_challenge.registered_members %> registered
                </p>
                <p>Platforms: <%= platform_display(@featured_challenge) %><br/>
                Tags: <%= technology_tag_links(@featured_challenge) %></p>
            </div>
            <div class="span6">
                <div class="title"><h1>ACTIVE CHALLENGES</h1></div>
                <% @open_challenges[1..3].each do |challenge| %>
                <%= link_to "#{number_to_currency(challenge.total_prize_money, :precision => 0)} - #{challenge.name}", challenge_path(challenge) %>
                <% distance = Time.at(challenge.end_date - Time.zone.now) %>
                <p><%= "due in #{distance.day}d #{distance.hour}h #{distance.min}m" %> | <%= pluralize(challenge.participating_members, 'member') %> participating, <%= challenge.registered_members %> registered<br/>
                <%= platform_and_technology_tag_links(challenge) %></p>
                <% end %>
                <%= link_to "View All Active Challenges", challenges_path %>
            </div>
        </div>
        <br/>

        <div class="row-fluid">
            <div class="span6">
                <div class="title"><h1>FEATURED MEMBER</h1></div>
                <div class="placement well">
                    <%= image_tag(@stats['featured_member_pic'], :width => '82x82', :class => 'pull-left photo') %>
                    <%= link_to @stats['featured_member_username'], member_path(@stats['featured_member_username']) %>
                    Challenge Wins: <strong><%= @stats['featured_member_wins'].to_i %></strong><br/>
                    Active Challenges: <strong><%= @stats['featured_member_active'].to_i %></strong>
                    <table class="type featured"><tr><td><%= number_to_currency(@stats['featured_member_money'], :precision => 0) %></td></tr></table>
                </div>

                <p><a href="/members/parasquid">Parasquid</a> has been a member of CloudSpokes since early summer 2012, but didn't really start participating until November when he laid eyes on our "Rebuild our CloudSpokes site in Rails" challenge and won 1st place.</p>

                <p>In the 3+ months he's been actively participating, parasquid's racked up 8 1st wins and $5,500 bucks! The submissions keep rolling in and the cash and wins keep piling up for Tristan and that's what makes him our February '13 Member of the Month.</p>
            </div>
            <div class="span6">
                <div class="title"><h1>LEADERBOARD</h1></div>
                <div class="placement well">
                    <%= image_tag(@leaderboard.first['profile_pic'], :width => '82x82', :class => 'pull-left photo') %>
                    <%= link_to @leaderboard.first['username'], member_path(@leaderboard.first['username']) %>
                    <%= @leaderboard.first['country'] %><br/><%= number_to_currency(@leaderboard.first['total_money'], :precision => 0) %>
                    <span class="place p1">1st</span>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                        <div class="placement well">
                            <%= image_tag(@leaderboard.second['profile_pic'], :width => '82x82', :class => 'pull-left photo') %>
                            <%= link_to @leaderboard.second['username'], member_path(@leaderboard.second['username']) %>
                            <%= @leaderboard.second['country'] %><br/><%= number_to_currency(@leaderboard.second['total_money'], :precision => 0) %>
                            <span class="place p2">2nd</span>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="placement well">
                            <%= image_tag(@leaderboard.third['profile_pic'], :width => '82x82', :class => 'pull-left photo') %>
                            <%= link_to @leaderboard.third['username'], member_path(@leaderboard.second['username']) %>
                            <%= @leaderboard.third['country'] %><br/><%= number_to_currency(@leaderboard.third['total_money'], :precision => 0) %>
                            <span class="place p3">3rd</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>

        <div class="title"><h1>BADGES</h1></div>
        <div class="row-fluid" id="badges">
            <div><table><tr><td><span class="badget-general"></span></td><td><a href="/badges">CloudSpokes General Badges</a></td></tr></table></div>
            <div><table><tr><td><span class="badget-tech"></span></td><td><a href="/badges">Technology Badges</a></td></tr></table></div>
             <div><table><tr><td><span class="badget-dev"></span></td><td><a href="/badges">Develop Your Skills" Badges</a></td></tr></table></div>
        </div>
        <br/>

        <div class="row-fluid">
            <div class="span6">
                <div class="title"><h1 class="rss">NEWS</h1></div>
                <%= render :partial => "shared/feed_items", :locals => { :items => @news_feed_items } %>
            </div>

            <div class="span6">
                <div class="title"><h1 class="rss">POSTS</h1></div>
                <%= render :partial => "shared/feed_items", :locals => { :items => @post_feed_items } %>
            </div>
        </div>
        <br/>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->