<% content_for :head do %><title>Member Profile: <%= @member.name %> - CloudSpokes</title><% end %>

<!-- CONTENT
        ================================================== -->
<script>
    
    window.BadgevilleAsynchInit = function() {
    
      Badgeville.extend( Badgeville.Settings, {
        key: '<%= ENV['BADGEVILLE_PUBLIC_API_KEY'] %>',
        domain: '<%= ENV['BADGEVILLE_DOMAIN'] %>'
        // Add other Badgeville.Settings changes
      });
  
      Badgeville.crouton = function(){};
      Badgeville.Settings.showToast = 0;

      BV.setPlayer( '<%= @member.badgeville_id %>' );
      //BV.setPlayer('4f46cba71850867c44003afe') 
      Badgeville.ready(function() {
        Badgeville.Gears.rewardStatus( Badgeville.Settings.player.last_reward  ).css({}).appendTo( document.getElementsByClassName("wider") );
		Badgeville.Gears.currentLevel( Badgeville.Settings.player ).appendTo( document.getElementsByClassName("span6 status") );
		Badgeville.Gears.levelStatus( Badgeville.Settings.player ).appendTo( document.getElementsByClassName("span6 status") ); 

      });
    };
    (function() {
      var s = document.createElement( 'script' );
      s.async = true;
      s.src =  'http://api.badgeville.com/v4/badgeville-current.js';
      document.body.appendChild( s );
    }());
  </script>


<div class="content-wrapper member-profile">
    <div class="container">

        <div class="title"><h1>MEMBER PROFILE</h1></div>

        <div class="row-fluid">

          <div class="span4">

            <div class="clearfix">
                <%= cl_image_tag(@member.profile_pic, :width => 82, :height => 82, :crop => :fill, 
                    :class => 'pull-left photo', :alt => @member.name) %>
              <div class="pull-left info">
                <div class="well">
                  <div class="top">
                    <h2><%= @member.name %></h2>
                    <% if @member.country %><span><%= @member.country %></span><% end %>
                  </div>
                  <div class="middle">
                    <% if @member.time_zone %><span><%= @member.time_zone %></span><% end %>
                  </div>
                  <div class="bottom">
                    <strong><%= number_to_currency(@member.total_money, :precision => 0) %></strong><br>
                    <strong><%= number_with_delimiter(@member.total_points, :delimiter => ',') %></strong>&nbsp;Pts
                  </div>
                </div>
              </div>
            </div>

            <% if @member.quote %>
                <h2>QUOTE</h2>
                <p><%= @member.quote %></p>
            <% end %>

            <% if @member.summary_bio %>
                <h2>BIO</h2>
                <p><%= @member.summary_bio %></p>
            <% end %>

            <% if @member.website || @member.github || @member.twitter || @member.facebook || @member.linkedin %>
            <h2>CONNECT</h2>
            <div class="content">
              <ul class="unstyled inline">
                <% if @member.website %>
                    <li><a href="<%= @member.website %>" class="circle-orange"><span class="website"><%= @member.website %></span></a></li>
                <% end %>
                <% if @member.twitter %>
                    <li><a href="http://www.twitter.com/<%= @member.twitter %>" class="circle-orange"><span class="twitter"><%= @member.twitter %></span></a></li>
                <% end %>
                <% if @member.github %>
                    <li><a href="http://www.github.com/<%= @member.github %>" class="circle-orange"><span class="github"><%= @member.github %></span></a></li>
                <% end %>
                <% if @member.facebook %>
                    <li><a href="<%= @member.facebook %>" class="circle-orange"><span class="facebook"><%= @member.facebook %></span></a></li>
                <% end %>
                <% if @member.linkedin %>
                    <li><a href="<%= @member.linkedin %>" class="circle-orange"><span class="linkedin"><%= @member.linkedin %></span></a></li>
                <% end %>
                </ul>
            </div>
            <% end %>

          </div>

          <div class="span8">
<!--
                <h2>RECENT ACHIEVEMENTS</h2>
                <ul class="brief-info unstyled">
                    <li>
                        <img src="/assets/discussion-champion.png" height="67" alt=""/>
                        <div class="info">
                            <span>Discussion Champion</span><br>
                            <span class="gray">Sept 11, 2012</span>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/member-of-month.png" height="67" alt=""/>
                        <div class="info">
                            <span>Member of the Month</span><br>
                            <span class="gray">Sept 4, 2012</span>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/force-dot-com.png" height="67" alt=""/>
                        <div class="info last">
                            <span>Force.com Adventurer</span><br>
                            <span class="gray">Aug 23, 2012</span>
                        </div>
                    </li>
                </ul>
-->
                <h2>STATISTICS</h2>
                <div class="stats">
                    <div class="stat">
                        <div class="place">
                            <span class="label">1st Places</span>
                            <span class="count count1" data-count="<%= @member.total_1st_place %>">
                            </span>
                            <span><%= @member.total_1st_place.to_i %></span>
                        </div>
                        <div class="place">
                            <span class="label">2nd Places</span>
                            <span class="count count2" data-count="<%= @member.total_2nd_place %>">
                            </span>
                            <span><%= @member.total_2nd_place.to_i %></span>
                        </div>
                        <div class="place">
                            <span class="label">3rd Places</span>
                            <span class="count count3" data-count="<%= @member.total_3st_place %>">
                            </span>
                            <span><%= @member.total_3st_place.to_i %></span>
                        </div>
                    </div>
                    <div class="stat">
                        <p>Contest Entered: <strong><%= @member.challenges_entered.to_i %></strong></p>
                        <p>Total Points: <strong><%= number_with_delimiter(@member.total_points.to_i, :delimiter => ',') %></strong></p>
                        <p>Total Money: <strong><%= number_to_currency(@member.total_money, :precision => 0) %></strong></p>
                    </div>
                    <div class="stat">
                        <p>Valid Submissions: <strong><%= @member.valid_submissions.to_i %></strong></p>
                        <p>Submits: <strong><%= @member.percent_submitted.to_i %>% when registered</strong></p>
                        <p>Total Wins: <strong><%= @member.total_wins.to_i %></strong></p>
                    </div>
                </div>

                <!--<h2>RECENT ACTIVITY</h2>-->
                <!--<ul class="brief-info unstyled">-->
                    <!--<li class="wider">-->
                    <!--&lt;!&ndash;-->
                        <!--<img src="/assets/discussion-champion.png" height="67" alt=""/>-->
                        <!--<div class="info">-->
                            <!--<span>logontokartik unlocked<br>the Discussion Champion badge.</span><br>-->
                            <!--<span class="gray">September 11, 2012</span>-->
                        <!--</div>-->
                        <!--&ndash;&gt;-->
                    <!--</li>-->
                    <!---->
                <!--</ul>-->


                <h2>
                    MISSIONS
                    <!-- <small>1 of 10 missions complete</small> -->
                </h2>
                <div class="slider missions">
                    <div class="bv_missions" bv_options='{"orientation":"carousel"}'></div>
                </div>

                <% unless @active_challenges.empty? %>
                    <h2><%= pluralize(@active_challenges.count, "ACTIVE CHALLENGE").upcase %></h2>
                    <div class="content">
                      <%= render partial: "challenges_sidebar", locals: {challenges: @active_challenges} %>
                    </div>
                <% end %>
    
                <% unless @past_challenges.empty? %>
                    <h2><%= pluralize(@past_challenges[0..4].count, "PAST CHALLENGE").upcase %></h2>
                    <div class="content">
                      <%= render partial: "challenges_sidebar", locals: {challenges: @past_challenges[0..4]} %>
                    </div>
                    <div class="content total-link">
                      <a href="/members/<%= @member.name %>/past-challenges" class="title-link">View All Past Challenges</a>
                    </div>
                <% end %>
            </div>


        </div>
    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->