<!-- CONTENT
        ================================================== -->
<div class="content-wrapper">
    <div class="container">

        <div class="row-fluid">

            <div class="span8">
                <div class="title"><h1>MY COMMUNITIES</h1></div>

                <% @communities.each do |c| %>
                <div class="challenge well well-large">
                    <h3><a href="/communities/<%= c.community_id %>"><%= c.name %></a></h3>
                    <p><%= raw(c.about) %></p>
                    Members: <%= c.members.to_i %>
                </div>
                <% end %>
            </div>

            <%= render 'shared/account_menu', :selected_item => 'communities' %>
        </div>

    </div> <!-- /.container -->
</div><!-- /.loginbar-wrapper -->