= content_wrapper do
  .span9
    .title
      %h1 REFERRED CLOUDSPOKES MEMBERS
    %p Here are the CloudSpokes members that you have personally referred. Every time that someone you referred wins money, so will you! During their first year, you’ll earn 10% of all money that your friends win competing in CloudSpokes challenges. So if a friend wins $1000 in a coding challenge, we’ll give you an additional $100.

    %h2= link_to "Invite your friends to join CloudSpokes!", invite_friends_path


    - if @referrals.present?
      - @referrals.in_groups_of(2).each do |two_referrals|
        .row-fluid
          - two_referrals.each do |referral|
            - next if referral.blank?
            .span6.well.well-large
              = image_tag referral.profile_pic, class: "pull-left photo", alt: "", width: 82, height: 82
              %h2= link_to referral.membername, member_path(referral.membername)
              %div= "Joined: #{referral.signup_date.strftime("%b. %d, %Y")}"
              %div
                %span= "Money won:"
                %strong= number_to_currency(referral.first_year_money, :precision => 0)
              %div
                %span= "Your Referral Bonus:"
                %strong= number_to_currency(referral.referral_money, :precision => 0)

    - else
      %p
        = image_tag "http://www.inspirationmix.com/wp-content/uploads/2012/01/Valentines-Day-vector-02.jpg", width: 250
        %span No referrals yet. Go invite your friends!

  = render 'shared/account_menu', :selected_item => 'referred_members'
