<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => user_registration_path(resource)) do |f| %>

  <%= f.error_notification(message: f.object.errors.get(:account).try(:join, ", ")) %>

  <div class="inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :username, :required => true %>
    <%if resource.password_required?%>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
    <%end%>
  </div>

  <div class="actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "users/links" %>
